﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{ var homeNode = Umbraco.ContentAtRoot().FirstOrDefault();
    var term = homeNode.Value<IPublishedContent>("term").Url;
    var privacy = homeNode.Value<IPublishedContent>("privacy").Url;
    }
    <!--==========================
          Footer
        ============================-->
    <footer id="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div>
                        <div><img src="/img/logo-white.png" alt=""></div>
                        <p>Vein and Wound Training Institute provide a comprehensive vein training courses and complete wound training courses... </p>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="contact-icon w-100 m-1">
                                <i class="fas fa-phone"></i>
                                <h5> <a href="tel:@homeNode.Value("phone1")">@homeNode.Value("phone1")</a></h5>
                            </div>
                            <div class="contact-icon w-100 m-1">
                                <i class="fas fa-envelope"></i>
                                <h5> <a href="mailto:@homeNode.Value("email")">@homeNode.Value("email")</a></h5>
                            </div>
                            <div class="contact-icon w-100 m-1">
                                <i class="fas fa-link"></i>
                                <h5> <a href="@homeNode.Value("website")" target="_blank">@homeNode.Value("website")</a></h5>
                            </div>


                        </div>





                        <div class="col-lg-3">
                            <div class="footer-links">
                                <h3>COURSES</h3>
                                <ul>
                                    @foreach (var item in homeNode.Value<List<IPublishedContent>>("courses"))
                                    {
                                        <li><a href="@item.Url">@item.Name</a></li>
                                    }
                                      
                                    </ul>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="footer-links">
                                <h3>Quick Links</h3>
                                <ul>
                                    @foreach (var item in homeNode.Value<List<IPublishedElement>>("links"))
                                    {
                                        if (item.HasValue("externalLink"))
                                        {
                                            <li>
                                                <a href="@item.Value("externalLink")" target="_blank"> @item.Value("name") </a>
                                            </li>
                                        }
                                        else
                                        {
                                            var node = item.Value<IPublishedContent>("internalLink");
                                            <li>
                                                <a  href="@node.Url"> @item.Value("name") </a>
                                            </li>
                                        }
                                        
                                    }
                                   
                                </ul>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>

    </footer>
    <section id="footer-credit">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="copyright">
                        <a href="@term">Terms and Conditions</a>
                        |
                        <a href="@privacy"> Privacy Policy</a>
                        © @DateTime.Now.Year All Rights Reserved By Vein and Wound Training.  Proudly Designed By
                        <a href="http://www.crossmediasol.com">Cross Media Sol </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- #footer -->
