﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
 

                var homeNode = Umbraco.ContentAtRoot().FirstOrDefault();
}
<header>
    <nav class="navbar navbar-expand-lg navbar-light nav-deader" data-toggle="sticky-onscroll">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"><img src="/img/logo.png"> </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class="navbar-nav pull-right">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    @foreach (var item in homeNode.Value<List<IPublishedElement>>("navigation"))
                    {
                        if (item.HasValue("externalLink"))
                        {
                            <li class="nav-item">
                                <a class="nav-link" href="@item.Value("externalLink")" target="_blank"> @item.Value("name") </a>
                            </li>
                        }
                        else
                        {
                            var node = item.Value<IPublishedContent>("internalLink");
                            if (node.Children.Count() > 0)
                            {
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="services.html" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        @item.Value("name")
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        @foreach (var chld in node.Children)
                                        {
                                            <a class="dropdown-item" href="@chld.Url">@chld.Name</a>
                                        }

                                       
                                    </div>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <a class="nav-link" href="@node.Url"> @item.Value("name") </a>
                                </li>
                            }

                        }

                    }



                    <li class="app-btn">
                        <a href="/enroll/">Enroll</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>