﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
    @{ 
        var homeNode = Umbraco.ContentAtRoot().FirstOrDefault();
        var courses = homeNode.Value<IPublishedContent>("coursesPage");
        var coursesList = courses.Descendants().Where(x => x.ContentType.Alias == "courseDetail");
        var serviceId = (int)ViewData["serviceId"];
        var selectServie = serviceId > 0 ? coursesList.Where(x => x.Id == serviceId).FirstOrDefault() : coursesList.FirstOrDefault();

    }
<form id="enroll">
    <div class="row">
        <div class="col">
            <input type="text" name="fname" class="form-control" placeholder="First name">
        </div>
        <div class="col">
            <input type="text" name="lname" class="form-control" placeholder="Last name">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <input type="email" name="email" class="form-control" placeholder="Email">
        </div>
        <div class="col">
            <input type="text" name="phone" class="form-control" placeholder=" Phone number">
        </div>
    </div>

    <div class="row">
        <div class="col">
            <input type="text" name="address" class="form-control" placeholder="Address">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <input type="text" name="address2" class="form-control" placeholder="Address Line 2">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <input type="text" name="city" class="form-control" placeholder="City">
        </div>
        <div class="col">
            <input type="text" name="state" class="form-control" placeholder="State / Province / Region">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <input type="text" name="zip" class="form-control" placeholder="ZIP / Postal Code ">
        </div>
        <div class="col">
            <div class="form-group">
                <select class="form-control" id="country">

                    <option value="AF">Afghanistan</option>
                    <option value="AX">Åland Islands</option>
                    <option value="AL">Albania</option>
                    <option value="DZ">Algeria</option>
                    <option value="AS">American Samoa</option>
                    <option value="AD">Andorra</option>
                    <option value="AO">Angola</option>
                    <option value="AI">Anguilla</option>
                    <option value="AQ">Antarctica</option>
                    <option value="AG">Antigua and Barbuda</option>
                    <option value="AR">Argentina</option>
                    <option value="AM">Armenia</option>
                    <option value="AW">Aruba</option>
                    <option value="AU">Australia</option>
                    <option value="AT">Austria</option>
                    <option value="AZ">Azerbaijan</option>
                    <option value="BS">Bahamas</option>
                    <option value="BH">Bahrain</option>
                    <option value="BD">Bangladesh</option>
                    <option value="BB">Barbados</option>
                    <option value="BY">Belarus</option>
                    <option value="BE">Belgium</option>
                    <option value="BZ">Belize</option>
                    <option value="BJ">Benin</option>
                    <option value="BM">Bermuda</option>
                    <option value="BT">Bhutan</option>
                    <option value="BO">Bolivia, Plurinational State of</option>
                    <option value="BQ">Bonaire, Sint Eustatius and Saba</option>
                    <option value="BA">Bosnia and Herzegovina</option>
                    <option value="BW">Botswana</option>
                    <option value="BV">Bouvet Island</option>
                    <option value="BR">Brazil</option>
                    <option value="IO">British Indian Ocean Territory</option>
                    <option value="BN">Brunei Darussalam</option>
                    <option value="BG">Bulgaria</option>
                    <option value="BF">Burkina Faso</option>
                    <option value="BI">Burundi</option>
                    <option value="KH">Cambodia</option>
                    <option value="CM">Cameroon</option>
                    <option value="CA">Canada</option>
                    <option value="CV">Cape Verde</option>
                    <option value="KY">Cayman Islands</option>
                    <option value="CF">Central African Republic</option>
                    <option value="TD">Chad</option>
                    <option value="CL">Chile</option>
                    <option value="CN">China</option>
                    <option value="CX">Christmas Island</option>
                    <option value="CC">Cocos (Keeling) Islands</option>
                    <option value="CO">Colombia</option>
                    <option value="KM">Comoros</option>
                    <option value="CG">Congo</option>
                    <option value="CD">Congo, the Democratic Republic of the</option>
                    <option value="CK">Cook Islands</option>
                    <option value="CR">Costa Rica</option>
                    <option value="CI">Côte d'Ivoire</option>
                    <option value="HR">Croatia</option>
                    <option value="CU">Cuba</option>
                    <option value="CW">Curaçao</option>
                    <option value="CY">Cyprus</option>
                    <option value="CZ">Czech Republic</option>
                    <option value="DK">Denmark</option>
                    <option value="DJ">Djibouti</option>
                    <option value="DM">Dominica</option>
                    <option value="DO">Dominican Republic</option>
                    <option value="EC">Ecuador</option>
                    <option value="EG">Egypt</option>
                    <option value="SV">El Salvador</option>
                    <option value="GQ">Equatorial Guinea</option>
                    <option value="ER">Eritrea</option>
                    <option value="EE">Estonia</option>
                    <option value="ET">Ethiopia</option>
                    <option value="FK">Falkland Islands (Malvinas)</option>
                    <option value="FO">Faroe Islands</option>
                    <option value="FJ">Fiji</option>
                    <option value="FI">Finland</option>
                    <option value="FR">France</option>
                    <option value="GF">French Guiana</option>
                    <option value="PF">French Polynesia</option>
                    <option value="TF">French Southern Territories</option>
                    <option value="GA">Gabon</option>
                    <option value="GM">Gambia</option>
                    <option value="GE">Georgia</option>
                    <option value="DE">Germany</option>
                    <option value="GH">Ghana</option>
                    <option value="GI">Gibraltar</option>
                    <option value="GR">Greece</option>
                    <option value="GL">Greenland</option>
                    <option value="GD">Grenada</option>
                    <option value="GP">Guadeloupe</option>
                    <option value="GU">Guam</option>
                    <option value="GT">Guatemala</option>
                    <option value="GG">Guernsey</option>
                    <option value="GN">Guinea</option>
                    <option value="GW">Guinea-Bissau</option>
                    <option value="GY">Guyana</option>
                    <option value="HT">Haiti</option>
                    <option value="HM">Heard Island and McDonald Islands</option>
                    <option value="VA">Holy See (Vatican City State)</option>
                    <option value="HN">Honduras</option>
                    <option value="HK">Hong Kong</option>
                    <option value="HU">Hungary</option>
                    <option value="IS">Iceland</option>
                    <option value="IN">India</option>
                    <option value="ID">Indonesia</option>
                    <option value="IR">Iran, Islamic Republic of</option>
                    <option value="IQ">Iraq</option>
                    <option value="IE">Ireland</option>
                    <option value="IM">Isle of Man</option>
                    <option value="IL">Israel</option>
                    <option value="IT">Italy</option>
                    <option value="JM">Jamaica</option>
                    <option value="JP">Japan</option>
                    <option value="JE">Jersey</option>
                    <option value="JO">Jordan</option>
                    <option value="KZ">Kazakhstan</option>
                    <option value="KE">Kenya</option>
                    <option value="KI">Kiribati</option>
                    <option value="KP">Korea, Democratic People's Republic of</option>
                    <option value="KR">Korea, Republic of</option>
                    <option value="KW">Kuwait</option>
                    <option value="KG">Kyrgyzstan</option>
                    <option value="LA">Lao People's Democratic Republic</option>
                    <option value="LV">Latvia</option>
                    <option value="LB">Lebanon</option>
                    <option value="LS">Lesotho</option>
                    <option value="LR">Liberia</option>
                    <option value="LY">Libya</option>
                    <option value="LI">Liechtenstein</option>
                    <option value="LT">Lithuania</option>
                    <option value="LU">Luxembourg</option>
                    <option value="MO">Macao</option>
                    <option value="MK">Macedonia, the former Yugoslav Republic of</option>
                    <option value="MG">Madagascar</option>
                    <option value="MW">Malawi</option>
                    <option value="MY">Malaysia</option>
                    <option value="MV">Maldives</option>
                    <option value="ML">Mali</option>
                    <option value="MT">Malta</option>
                    <option value="MH">Marshall Islands</option>
                    <option value="MQ">Martinique</option>
                    <option value="MR">Mauritania</option>
                    <option value="MU">Mauritius</option>
                    <option value="YT">Mayotte</option>
                    <option value="MX">Mexico</option>
                    <option value="FM">Micronesia, Federated States of</option>
                    <option value="MD">Moldova, Republic of</option>
                    <option value="MC">Monaco</option>
                    <option value="MN">Mongolia</option>
                    <option value="ME">Montenegro</option>
                    <option value="MS">Montserrat</option>
                    <option value="MA">Morocco</option>
                    <option value="MZ">Mozambique</option>
                    <option value="MM">Myanmar</option>
                    <option value="NA">Namibia</option>
                    <option value="NR">Nauru</option>
                    <option value="NP">Nepal</option>
                    <option value="NL">Netherlands</option>
                    <option value="NC">New Caledonia</option>
                    <option value="NZ">New Zealand</option>
                    <option value="NI">Nicaragua</option>
                    <option value="NE">Niger</option>
                    <option value="NG">Nigeria</option>
                    <option value="NU">Niue</option>
                    <option value="NF">Norfolk Island</option>
                    <option value="MP">Northern Mariana Islands</option>
                    <option value="NO">Norway</option>
                    <option value="OM">Oman</option>
                    <option value="PK">Pakistan</option>
                    <option value="PW">Palau</option>
                    <option value="PS">Palestinian Territory, Occupied</option>
                    <option value="PA">Panama</option>
                    <option value="PG">Papua New Guinea</option>
                    <option value="PY">Paraguay</option>
                    <option value="PE">Peru</option>
                    <option value="PH">Philippines</option>
                    <option value="PN">Pitcairn</option>
                    <option value="PL">Poland</option>
                    <option value="PT">Portugal</option>
                    <option value="PR">Puerto Rico</option>
                    <option value="QA">Qatar</option>
                    <option value="RE">Réunion</option>
                    <option value="RO">Romania</option>
                    <option value="RU">Russian Federation</option>
                    <option value="RW">Rwanda</option>
                    <option value="BL">Saint Barthélemy</option>
                    <option value="SH">Saint Helena, Ascension and Tristan da Cunha</option>
                    <option value="KN">Saint Kitts and Nevis</option>
                    <option value="LC">Saint Lucia</option>
                    <option value="MF">Saint Martin (French part)</option>
                    <option value="PM">Saint Pierre and Miquelon</option>
                    <option value="VC">Saint Vincent and the Grenadines</option>
                    <option value="WS">Samoa</option>
                    <option value="SM">San Marino</option>
                    <option value="ST">Sao Tome and Principe</option>
                    <option value="SA">Saudi Arabia</option>
                    <option value="SN">Senegal</option>
                    <option value="RS">Serbia</option>
                    <option value="SC">Seychelles</option>
                    <option value="SL">Sierra Leone</option>
                    <option value="SG">Singapore</option>
                    <option value="SX">Sint Maarten (Dutch part)</option>
                    <option value="SK">Slovakia</option>
                    <option value="SI">Slovenia</option>
                    <option value="SB">Solomon Islands</option>
                    <option value="SO">Somalia</option>
                    <option value="ZA">South Africa</option>
                    <option value="GS">South Georgia and the South Sandwich Islands</option>
                    <option value="SS">South Sudan</option>
                    <option value="ES">Spain</option>
                    <option value="LK">Sri Lanka</option>
                    <option value="SD">Sudan</option>
                    <option value="SR">Suriname</option>
                    <option value="SJ">Svalbard and Jan Mayen</option>
                    <option value="SZ">Swaziland</option>
                    <option value="SE">Sweden</option>
                    <option value="CH">Switzerland</option>
                    <option value="SY">Syrian Arab Republic</option>
                    <option value="TW">Taiwan, Province of China</option>
                    <option value="TJ">Tajikistan</option>
                    <option value="TZ">Tanzania, United Republic of</option>
                    <option value="TH">Thailand</option>
                    <option value="TL">Timor-Leste</option>
                    <option value="TG">Togo</option>
                    <option value="TK">Tokelau</option>
                    <option value="TO">Tonga</option>
                    <option value="TT">Trinidad and Tobago</option>
                    <option value="TN">Tunisia</option>
                    <option value="TR">Turkey</option>
                    <option value="TM">Turkmenistan</option>
                    <option value="TC">Turks and Caicos Islands</option>
                    <option value="TV">Tuvalu</option>
                    <option value="UG">Uganda</option>
                    <option value="UA">Ukraine</option>
                    <option value="AE">United Arab Emirates</option>
                    <option value="GB">United Kingdom</option>
                    <option selected value="US">United States</option>
                    <option value="UM">United States Minor Outlying Islands</option>
                    <option value="UY">Uruguay</option>
                    <option value="UZ">Uzbekistan</option>
                    <option value="VU">Vanuatu</option>
                    <option value="VE">Venezuela, Bolivarian Republic of</option>
                    <option value="VN">Viet Nam</option>
                    <option value="VG">Virgin Islands, British</option>
                    <option value="VI">Virgin Islands, U.S.</option>
                    <option value="WF">Wallis and Futuna</option>
                    <option value="EH">Western Sahara</option>
                    <option value="YE">Yemen</option>
                    <option value="ZM">Zambia</option>
                    <option value="ZW">Zimbabwe</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <textarea class="form-control" name="experience" rows="7" placeholder="Your expectations from course"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label for="inputState">Please Select Your Course (Physician)*</label>
        <select id="inputState" class="form-control" onchange="calculateAmount(this.value)">
            @foreach (var item in courses.Descendants().Where(x => x.ContentType.Alias == "courseDetail"))
            {
                <option @(item.Id == serviceId ? "selected" : "") value="@item.Value("fees")">@item.Value("title")</option>
            }

        </select>
    </div>
    <div class="row">

        <div class="col">
            <label for="exampleRadios1">Physician / Allied* </label>
        </div>
        <div class="col">
            <label for="exampleRadios1">Course Fee </label>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="type" id="physician" value="Physician" checked onchange="calculateAmountRadio('physician')">
                <label class="form-check-label" for="physician">
                    Physician
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="type" id="alliedProfessionals" value="Allied Professionals" onchange="calculateAmountRadio('alliedProfessionals')">
                <label class="form-check-label" for="alliedProfessionals">
                    Allied Professionals
                </label>
            </div>
        </div>
        <div class="col">
            <label id="courseFee">$2,400.00</label>
        </div>
    </div>
    @*<button type="submit" class="btn contact-btn float-right" id="register">Register & Pay</button>*@
    <button type="submit" class="btn btn-primary " style="background:#7aaf10 !important" id="register"><i class="fa fa-spinner fa-spin" id="loading" style="display:none;"></i>Register & Pay</button>
</form>
<form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" style="display:block;">



    <input name="amount" id="amount" type="hidden" value="@selectServie.Value("fees")">
    <input name="currency_code" type="hidden" value="USD">
    <input name="name" type="hidden" value="Asad">
    <input name="email" type="hidden" value="asadpkcs@gmail.com">
    <input name="shipping" type="hidden" value="0.00">
    <input name="tax" type="hidden" value="0.00">
    <input name="return" id="return" type="hidden" value="http://localhost:5644/course-confirmation">
    <input name="cancel_return" id="cancel_return" type="hidden" value="http://localhost:5644/course-confirmation">
    <input name="notify_url" type="hidden" value="URLForValidationPayement">
    <input name="cmd" type="hidden" value="_xclick">
    <input name="business" type="hidden" value="asadpkcs-facilitator@gmail.com">
    <input name="item_name" type="hidden" value="name of the object">
    <input name="no_note" type="hidden" value="1">
    <input type="hidden" name="no_shipping" value="1">
    <input name="lc" type="hidden" value="EN">
    <input name="bn" type="hidden" value="PP-BuyNowBF">
    <input name="custom" type="hidden" value="custom data">
    <input id="btn" type="image" src="https://www.paypalobjects.com/en_US/CH/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
    <img alt="" border="0" src="https://www.paypalobjects.com/fr_FR/i/scr/pixel.gif" width="1" height="1">
</form>
<script>
    function calculateAmount(fees) {
        var calculatedAmount = fees;
        if ($("input[name='type']:checked").val() === "Physician") {
            $("#amount").val(calculatedAmount);
            $("#courseFee").text("$" + calculatedcalculatedAmount.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,'));
        } else {
            calculatedAmount = calculatedAmount * .30;
            $("#amount").val(calculatedAmount);
            $("#courseFee").text("$" + (calculatedAmount.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')));
        }
        //alert($("input[name='type']:checked").val());
    }
    function calculateAmountRadio(type) {
        var calculatedAmount = 0;
        if (type === "Physician") {
            calculatedAmount = parseFloat($("#inputState").val());
            $("#amount").val(calculatedAmount);
            $("#courseFee").text("$" + calculatedAmount.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,'));
        } else {
            calculatedAmount = (parseFloat($("#inputState").val()) * .30);
            $("#amount").val(calculatedAmount);
            $("#courseFee").text("$" + calculatedAmount.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,'));
        }
        //alert($("input[name='type']:checked").val());
    }
    
</script>