﻿<div class="welcome-dashboard" ng-controller="RegistraionSection.RegistraionOverviewController as vm">
    <umb-load-indicator ng-if="vm.loading"></umb-load-indicator>
    <h1>Welcome to Umbraco</h1>
    <p>We hope you find the experience of editing your content with Umbraco enjoyable and delightful. If you discover any problems with the site please report them to the support team at <a href="mailto:">support@popularumbracopartner.com</a></p>
    <p>You can put anything here...</p>
    <a class="btn btn-success" ng-click="delete()" prevent-default="">
        Download
    </a>
</div>