﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
    Layout = "layout.cshtml";
}

<!--==========================
 top Section
============================-->
<section id="about-top-head">
    <div class="container-fluid">
        <div class="row">
            <div class=" col-lg-12 text-lg-center">

                <h2>@Model.Name  </h2>
            </div>
        </div>
    </div>
</section>



<!--==========================
   body Section
  ============================-->
<section id="traning-about">
    <div class="container-fluid">
        <div class="row">
            <div class=" col-lg-12">
                <div class="block-section">
                    @Html.Raw(Model.Value("content"))
                </div>
                <div class="block-section">
                    <h4>Faculty</h4>
                    <hr>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="faculty-about">
                    @if (Model.HasValue("image"))
                    {
                        var img = Model.Value<IPublishedContent>
                                             ("image").Url;
                        <a href="#">    <img src="@img" alt="">   </a>
                    }
                    @foreach (var item in Model.Value<List<IPublishedContent>>("courses"))
                    {
                        var img = item.Value<IPublishedContent>
                                             ("image").Url;
                        <a href="@item.Url"><img src="@img" alt=""> </a>
                    }
                       


                    </div>
            </div>

            <div class="col-lg-8">
                <div class="row">
                    <div class="faculty-detail">
                        @Html.Raw(Model.Value("focutyContent"))
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> <!-- #Traning -->