﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
    Layout = "layout.cshtml";
    var homeMode = Umbraco.ContentAtRoot().FirstOrDefault();
}
<!--==========================
     Map Section 1
   ============================-->

<section id="contact-map-sec">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div id="map-container-google-1" class="z-depth-1-half map-container" style="height: 500px">
                    @Html.Raw(Model.Value("map"))
                </div>
            </div>
        </div>

    </div>
</section>


<!--==========================
  Form
============================-->

<section id="contact-form">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 ">
                <div class="box">
                    <div class="row">
                        <div class="col-lg-6 form-info ">
                            <h2>CONTACT US </h2>
                            <div class="contact-icon w-100 ">
                                <i class="fas fa-map-marker-alt"></i>
                                <a href="javascript:void(0);">@homeMode.Value("address") </a>
                            </div>
                            <div class="contact-icon w-100 ">
                                <i class="fas fa-envelope"></i>
                                <a href="mailto:@homeMode.Value("email")">@homeMode.Value("email")</a>
                            </div>
                            <div class="contact-icon w-100">
                                <i class="fas fa-phone"></i>
                                <a href="tel:@homeMode.Value("phone2")">@homeMode.Value("phone2") </a>
                            </div>
                            <div class="social-links">
                                @if (homeMode.HasValue("facebook"))
                                {
                                    <a href="@homeMode.Value("facebook")" target="_blank"><i class="fab fa-facebook-f "></i></a>
                                }
                                @if (homeMode.HasValue("twitter"))
                                {
                                    <a href="@homeMode.Value("twitter")" target="_blank"><i class="fab fa-twitter"></i></a>
                                }
                                @if (homeMode.HasValue("instagram"))
                                {
                                    <a href="@homeMode.Value("twitter")" target="_blank"><i class="fab fa-instagram"></i></a>
                                }
                                @if (homeMode.HasValue("linkedIn"))
                                {
                                    <a href="@homeMode.Value("linkedIn")" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                                }

                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div>
                                <h3>GET IN TOUCH </h3>

                            </div>
                            <form id="appointment">
                                <div class="row">
                                    <div class="col">
                                        <input type="text" name="fname" class="form-control" placeholder="First name">
                                    </div>
                                    <div class="col">
                                        <input type="text" name="lname" class="form-control" placeholder="Last name">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <input type="text" name="phone" class="form-control" placeholder="Phone">
                                    </div>
                                    <div class="col">
                                        <input type="email" name="email" class="form-control" placeholder="Email">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <textarea class="form-control" name="message" rows="7" placeholder="Message"></textarea>
                                    </div>
                                </div>
                                <button type="submit" class="btn contact-btn float-right">Submit</button>
                            </form>
                           



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



@section footerScripts {
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
    <script>
        $(document).ready(function () {

            $("#appointment").validate({
                rules: {
                    fname: 'required',
                    lname: 'required',
                    phone: 'required',
                    email: {
                        required: true,
                        email: true,
                    },

                },
                messages: {
                    fname: 'Name is required.',
                    phone: 'Phone is required.',
                    lname: 'Last name is required',
                    email: 'Valid email is required',


                },
                submitHandler: function (form) {
                   
                    //var model = { FirstName: $("input[name=fname]").val(), LastName: $("input[name=lname]").val(), Phone: $("input[name=phone]").val(), Message: $("textarea[name=message]").val() };
                    var obj = { message: $("textarea[name=message]").val(), phone: $("input[name=phone]").val() };
                    var myJSON = JSON.stringify(obj);
                    var model = { Name: $("input[name=fname]").val() + " " + $("input[name=lname]").val(), Address: $("input[name=email]").val(), Parameter: myJSON, Message: $("textarea[name=message]").val(), Phone: $("input[name=phone]").val(),PageTitle: '@Model.Name' };
            
                        $.ajax({
                        url: "/umbraco/surface/MailGun/Save",
                        type: "post",
                        data: model,
                        success: function (response) {
                            if (response.status) {
                                form.reset();
                              
                                //$('#appointment').hide();
                                //$('#thankyou').show();
                                //$('#thankyou').show(0); setTimeout(function () {
                                //    $('#btn').removeAttr('disabled');
                                //    $('#loading').hide();
                                //    $('#appointment').show();
                                //    $('#thankyou').hide();
                                //}, 3000);
                            } else {
                                //$('#error').show();
                                //$('#loading').hide();
                                //$('#btn').removeAttr('disabled');
                            }


                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            console.log(textStatus, errorThrown);
                        }


                    });
                    
                }
            });
        });



    </script>
}