﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
                /**/

                Layout = "layout.cshtml";
}
@if (Model.HasValue("banner"))
{
    var banner = Model.Value<IPublishedContent>("banner").Url;
    <section id="Serd-top-head" style="background-image: url(@banner);">
        <div class="container-fluid">
            <div class="row">
                <div class=" col-lg-12 text-lg-center">
@Html.Raw(Model.Value("bannerContent"))
                </div>
            </div>
        </div>
    </section>
}

<section id="contact-form">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 ">
                <div class="box">
                    <div class="row">


                        <div class="col-lg-12">

                            @Html.Raw(Model.Value("content"))




                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>