﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using Umbraco.Core.Services;
@{
    Layout = "layout.cshtml";
    var items = Model.Children;
    var t = items.Count();
    var total = (int)Math.Ceiling(Decimal.Divide(t, 2));
    var k = 0;
    
}
<!--==========================
 top Section
============================-->
<section id="services-top-head">
    <div class="container-fluid">
        <div class="row">
            <div class=" col-lg-12 text-lg-center">

                <h2>@Model.Value("name") </h2>
            </div>
        </div>
    </div>
</section>

<!--==========================
  Vein Services white section
============================-->
@for (int i = 0; i < total; i++)
{
    <section id="@(k%2==0?"cour-white":"gray-cour")">

        <div class="container-fluid">
            <div class="row">
                @foreach (var item in items.Skip(i * 2).Take(2))
                {
                    <div class="col-md-6">
                        <div class="cour-head">
                            <h3>@item.Value("title")</h3>
                            <p><b> Duration: @item.Value("duration") </b></p>
                            @Html.Raw(item.Value("shortDetail"))
                            <a href="@item.Url" class="cour-btn">Learn MORE</a>
                        </div>
                    </div>
                }

            </div>
        </div>
    </section>
    k++;
}


<!--==========================
  All Services Section
============================-->
<section id="services">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="Vein-Ser">
                    <h2>Wound Course</h2>
                    <h5>Hands-on & practical </h5>
                    <p>You may be looking to add new treatments or add a new revenue stream to your practice or you may have never been formally trained in vein disease management. Vein & Wound Training Institute is also the best place to simply learn and hone new skills and techniques in the field of Phlebology. </p>
                    <a href="#gray-cour" class="cl-btn">Read More</a>

                </div>
            </div>
            <div class="col-md-4">
                <div class="wound-Ser">
                    <h2>Business Course</h2>
                    <h5>Hands-on & practical </h5>
                    <p>You may be looking to add new treatments or add a new revenue stream to your practice or you may have never been formally trained in vein disease management. Vein & Wound Training Institute is also the best place to simply learn and hone new skills and techniques in the field of Phlebology. </p>
                    <a href="#gray-cour" class="cl-btn">Read More</a>

                </div>
            </div>
            <div class="col-md-4">
                <div class="bus-Ser">
                    <h2>Course Calendar</h2>
                    <h5>Hands-on & practical </h5>
                    <p>You may be looking to add new treatments or add a new revenue stream to your practice or you may have never been formally trained in vein disease management. Vein & Wound Training Institute is also the best place to simply learn and hone new skills and techniques in the field of Phlebology. </p>
                    <a href="#gray-cour" class="cl-btn">Read More</a>

                </div>
            </div>
        </div>
    </div>
</section>

