﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
    Layout = "layout.cshtml";
}
<!--==========================
    top Section
   ============================-->
<section id="Serd-top-head">
    <div class="container-fluid">
        <div class="row">
            <div class=" col-lg-12 text-lg-center">

                <h2>@Model.Value("title")</h2>
            </div>
        </div>
    </div>
</section>

<!--==========================
   body Section
  ============================-->
<section id="serd-about">
    <div class="container">
        <div class="row">
            <div class=" col-lg-3">
                <div>
                    <h4>BENEFITS</h4>
                    <p>
                        This two day Endovenous Ablation Course is a good mix of didactic and hands-on learning. The focus is to train attendees in such a way that they feel comfortable with treatments.
                    </p>
                </div>

            </div>
            <div class=" col-lg-3">
                <div>
                    <h4>ATTENTION</h4>
                    <p>
                        Our courses have a small group of 5-10 attendees format. We feel it gives attendees individual attention and we can cater individual needs to course attendees.

                    </p>
                </div>

            </div>
            <div class=" col-lg-3">
                <div>
                    <h4>ONGOING SUPPORT </h4>
                    <p>
                        Our dedication to our trainees doesn’t end after completion of course. We are available to help them in person and using veinandwoundforum.com to ask any question.
                    </p>
                </div>

            </div>
            <div class=" col-lg-3">
                <div class="cour-other">
                    <h4>OTHER VEIN COURSES </h4>
                    <p>
                        We provide comprehensive vein training. Please see complete list our vein courses
                    </p>
                    <a href="#">HERE</a>
                </div>

            </div>
        </div>
    </div>

</section>
<!--==========================
  Services Description Section
============================-->
<section id="ser-det">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 serd-detail">
                @Html.Raw(Model.Value("detail"))
                <div class="serd-register">
                    <p>Fee: $@Model.Value("fees") </p>
                    <a href="#">Register now</a>

                </div>






            </div>
            <div class="col-lg-4 serd-form">
                <h2>Enroll Now </h2>
                <div>
                    @Html.Partial("/Views/Partials/Shared/RegistrationForm.cshtml", new ViewDataDictionary(this.ViewData) {
            { "serviceId", Model.Id },

        })

                </div>



            </div>
        </div>
    </div>
</section>
