﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
    Layout = "layout.cshtml";
}
<!--==========================
 top Section
============================-->
<section id="services-top-head">
    <div class="container-fluid">
        <div class="row">
            <div class=" col-lg-12 text-lg-center">

                <h2>VEIN & WOUND CARE COURSES </h2>
            </div>
        </div>
    </div>
</section>

<!--==========================
  All Services Section
============================-->
<section id="services">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="Vein-Ser">
                    <h2>Vein Course</h2>
                    <h5>Hands-on & practical </h5>
                    <p>You may be looking to add new treatments or add a new revenue stream to your practice or you may have never been formally trained in vein disease management. Vein & Wound Training Institute is also the best place to simply learn and hone new skills and techniques in the field of Phlebology. </p>
                    <a href="#Vein-cour" class="cl-btn">Read More</a>

                </div>
            </div>
            <div class="col-md-4">
                <div class="wound-Ser">
                    <h2>Vein Course</h2>
                    <h5>Hands-on & practical </h5>
                    <p>You may be looking to add new treatments or add a new revenue stream to your practice or you may have never been formally trained in vein disease management. Vein & Wound Training Institute is also the best place to simply learn and hone new skills and techniques in the field of Phlebology. </p>
                    <a href="#Vein-cour" class="cl-btn">Read More</a>

                </div>
            </div>
            <div class="col-md-4">
                <div class="bus-Ser">
                    <h2>Vein Course</h2>
                    <h5>Hands-on & practical </h5>
                    <p>You may be looking to add new treatments or add a new revenue stream to your practice or you may have never been formally trained in vein disease management. Vein & Wound Training Institute is also the best place to simply learn and hone new skills and techniques in the field of Phlebology. </p>
                    <a href="#Vein-cour" class="cl-btn">Read More</a>

                </div>
            </div>
        </div>
    </div>
</section>

<!--==========================
  Vein Services Gray Section One
 ============================-->
<section id="Vein-cour">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div>
                    <h2>Vein Courses</h2>
                </div>
            </div>
            <div class="col-md-6">
                <div class="cour-head">
                    <h3>1-Day Hands-on Phlebectomy Course  </h3>
                    <p><b> Duration: 2 Days </b></p>
                    <p>
                        <strong>Description:</strong> This two-day <em>vein endovenous ablation course</em> is our most popular <strong>vein course for physicians</strong>, physician assistants and nurse practitioners. If you are new to vein care or starting endovenous treatments, this is a course for you. All our courses are formatted in such a way that, we will take course attendees from basics of relevant anatomy, physiology, pathology, diagnostics and finally treating.
                    </p>
                    <a href="#" class="cour-btn">Learn MORE</a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="cour-head">
                    <h3>1-Day Hands-on Phlebectomy Course  </h3>
                    <p><b> Duration: 2 Days </b></p>
                    <p>
                        <strong>Description:</strong> This two-day <em>vein endovenous ablation course</em> is our most popular <strong>vein course for physicians</strong>, physician assistants and nurse practitioners. If you are new to vein care or starting endovenous treatments, this is a course for you. All our courses are formatted in such a way that, we will take course attendees from basics of relevant anatomy, physiology, pathology, diagnostics and finally treating.
                    </p>
                    <a href="#" class="cour-btn">Learn MORE</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--==========================
  Vein Services white section
============================-->
<section id="cour-white">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="cour-head">
                    <h3>1-Day Hands-on Phlebectomy Course  </h3>
                    <p><b> Duration: 2 Days </b></p>
                    <p>
                        <strong>Description:</strong> This two-day <em>vein endovenous ablation course</em> is our most popular <strong>vein course for physicians</strong>, physician assistants and nurse practitioners. If you are new to vein care or starting endovenous treatments, this is a course for you. All our courses are formatted in such a way that, we will take course attendees from basics of relevant anatomy, physiology, pathology, diagnostics and finally treating.
                    </p>
                    <a href="#" class="cour-btn">Learn MORE</a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="cour-head">
                    <h3>1-Day Hands-on Phlebectomy Course  </h3>
                    <p><b> Duration: 2 Days </b></p>
                    <p>
                        <strong>Description:</strong> This two-day <em>vein endovenous ablation course</em> is our most popular <strong>vein course for physicians</strong>, physician assistants and nurse practitioners. If you are new to vein care or starting endovenous treatments, this is a course for you. All our courses are formatted in such a way that, we will take course attendees from basics of relevant anatomy, physiology, pathology, diagnostics and finally treating.
                    </p>
                    <a href="#" class="cour-btn">Learn MORE</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="cour-head pad-top">
                        <h3>1-Day Hands-on Phlebectomy Course  </h3>
                        <p><b> Duration: 2 Days </b></p>
                        <p>
                            <strong>Description:</strong> This two-day <em>vein endovenous ablation course</em> is our most popular <strong>vein course for physicians</strong>, physician assistants and nurse practitioners. If you are new to vein care or starting endovenous treatments, this is a course for you. All our courses are formatted in such a way that, we will take course attendees from basics of relevant anatomy, physiology, pathology, diagnostics and finally treating.
                        </p>
                        <a href="#" class="cour-btn">Learn MORE</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<!--==========================
 Wound Services Gray Section One
============================-->
<section id="wound-cour">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div>
                    <h2>Vein Courses</h2>
                </div>
            </div>
            <div class="col-md-6">
                <div class="cour-head">
                    <h3>1-Day Hands-on Phlebectomy Course  </h3>
                    <p><b> Duration: 2 Days </b></p>
                    <p>
                        <strong>Description:</strong> This two-day <em>vein endovenous ablation course</em> is our most popular <strong>vein course for physicians</strong>, physician assistants and nurse practitioners. If you are new to vein care or starting endovenous treatments, this is a course for you. All our courses are formatted in such a way that, we will take course attendees from basics of relevant anatomy, physiology, pathology, diagnostics and finally treating.
                    </p>
                    <a href="#" class="cour-btn-y">Learn MORE</a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="cour-head">
                    <h3>1-Day Hands-on Phlebectomy Course  </h3>
                    <p><b> Duration: 2 Days </b></p>
                    <p>
                        <strong>Description:</strong> This two-day <em>vein endovenous ablation course</em> is our most popular <strong>vein course for physicians</strong>, physician assistants and nurse practitioners. If you are new to vein care or starting endovenous treatments, this is a course for you. All our courses are formatted in such a way that, we will take course attendees from basics of relevant anatomy, physiology, pathology, diagnostics and finally treating.
                    </p>
                    <a href="#" class="cour-btn-y">Learn MORE</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--==========================
  Vein Services white section
============================-->
<section id="cour-white">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="cour-head">
                    <h3>1-Day Hands-on Phlebectomy Course  </h3>
                    <p><b> Duration: 2 Days </b></p>
                    <p>
                        <strong>Description:</strong> This two-day <em>vein endovenous ablation course</em> is our most popular <strong>vein course for physicians</strong>, physician assistants and nurse practitioners. If you are new to vein care or starting endovenous treatments, this is a course for you. All our courses are formatted in such a way that, we will take course attendees from basics of relevant anatomy, physiology, pathology, diagnostics and finally treating.
                    </p>
                    <a href="#" class="cour-btn-y">Learn MORE</a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="cour-head">
                    <h3>1-Day Hands-on Phlebectomy Course  </h3>
                    <p><b> Duration: 2 Days </b></p>
                    <p>
                        <strong>Description:</strong> This two-day <em>vein endovenous ablation course</em> is our most popular <strong>vein course for physicians</strong>, physician assistants and nurse practitioners. If you are new to vein care or starting endovenous treatments, this is a course for you. All our courses are formatted in such a way that, we will take course attendees from basics of relevant anatomy, physiology, pathology, diagnostics and finally treating.
                    </p>
                    <a href="#" class="cour-btn-y">Learn MORE</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="cour-head pad-top">
                        <h3>1-Day Hands-on Phlebectomy Course  </h3>
                        <p><b> Duration: 2 Days </b></p>
                        <p>
                            <strong>Description:</strong> This two-day <em>vein endovenous ablation course</em> is our most popular <strong>vein course for physicians</strong>, physician assistants and nurse practitioners. If you are new to vein care or starting endovenous treatments, this is a course for you. All our courses are formatted in such a way that, we will take course attendees from basics of relevant anatomy, physiology, pathology, diagnostics and finally treating.
                        </p>
                        <a href="#" class="cour-btn-y">Learn MORE</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<!--==========================
 Business Services Gray Section One
============================-->
<section id="bus-cour">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div>
                    <h2>Vein Courses</h2>
                </div>
            </div>
            <div class="col-md-6">
                <div class="cour-head">
                    <h3>1-Day Hands-on Phlebectomy Course  </h3>
                    <p><b> Duration: 2 Days </b></p>
                    <p>
                        <strong>Description:</strong> This two-day <em>vein endovenous ablation course</em> is our most popular <strong>vein course for physicians</strong>, physician assistants and nurse practitioners. If you are new to vein care or starting endovenous treatments, this is a course for you. All our courses are formatted in such a way that, we will take course attendees from basics of relevant anatomy, physiology, pathology, diagnostics and finally treating.
                    </p>
                    <a href="#" class="cour-btn-g">Learn MORE</a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="cour-head">
                    <h3>1-Day Hands-on Phlebectomy Course  </h3>
                    <p><b> Duration: 2 Days </b></p>
                    <p>
                        <strong>Description:</strong> This two-day <em>vein endovenous ablation course</em> is our most popular <strong>vein course for physicians</strong>, physician assistants and nurse practitioners. If you are new to vein care or starting endovenous treatments, this is a course for you. All our courses are formatted in such a way that, we will take course attendees from basics of relevant anatomy, physiology, pathology, diagnostics and finally treating.
                    </p>
                    <a href="#" class="cour-btn-g">Learn MORE</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--==========================
  Vein Services white section
============================-->
<section id="cour-white">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="cour-head">
                    <h3>1-Day Hands-on Phlebectomy Course  </h3>
                    <p><b> Duration: 2 Days </b></p>
                    <p>
                        <strong>Description:</strong> This two-day <em>vein endovenous ablation course</em> is our most popular <strong>vein course for physicians</strong>, physician assistants and nurse practitioners. If you are new to vein care or starting endovenous treatments, this is a course for you. All our courses are formatted in such a way that, we will take course attendees from basics of relevant anatomy, physiology, pathology, diagnostics and finally treating.
                    </p>
                    <a href="#" class="cour-btn-g">Learn MORE</a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="cour-head">
                    <h3>1-Day Hands-on Phlebectomy Course  </h3>
                    <p><b> Duration: 2 Days </b></p>
                    <p>
                        <strong>Description:</strong> This two-day <em>vein endovenous ablation course</em> is our most popular <strong>vein course for physicians</strong>, physician assistants and nurse practitioners. If you are new to vein care or starting endovenous treatments, this is a course for you. All our courses are formatted in such a way that, we will take course attendees from basics of relevant anatomy, physiology, pathology, diagnostics and finally treating.
                    </p>
                    <a href="#" class="cour-btn-g">Learn MORE</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="cour-head pad-top">
                        <h3>1-Day Hands-on Phlebectomy Course  </h3>
                        <p><b> Duration: 2 Days </b></p>
                        <p>
                            <strong>Description:</strong> This two-day <em>vein endovenous ablation course</em> is our most popular <strong>vein course for physicians</strong>, physician assistants and nurse practitioners. If you are new to vein care or starting endovenous treatments, this is a course for you. All our courses are formatted in such a way that, we will take course attendees from basics of relevant anatomy, physiology, pathology, diagnostics and finally treating.
                        </p>
                        <a href="#" class="cour-btn-g">Learn MORE</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

