﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
    Layout = "layout.cshtml";
    var homeNode = Umbraco.ContentAtRoot().FirstOrDefault();
}
<!--==========================
     top Section
    ============================-->
<section id="about-top-head">
    <div class="container-fluid">
        <div class="row">
            <div class=" col-lg-12 text-lg-center">
                <h2>  REGISTER NOW </h2>
            </div>
        </div>
    </div>
</section>


<!--==========================
  Body Section
============================-->
<section id="reg-now">
    <div class="contanier-fluid">
        <div class="row">
            <div class="col-lg-8">
                <div>
                    @Html.Partial("/Views/Partials/Shared/RegistrationForm.cshtml",new ViewDataDictionary(this.ViewData) {
            { "serviceId", 0 },
            
        })
                </div>
                <div>

                </div>
            </div>

            <div class="col-lg-4">
                @foreach (var item in homeNode.Value<List<IPublishedContent>>("courses"))
                {
                <div class="vein-crs" style="background-color: @("#"+item.Value("backgroundColor"))">
                    <h2>@item.Name</h2>

                    <p><b>@item.Value("title")</b></p>
                    @Html.Raw(item.Value("shortDetail"))
                    <p style="padding-top: 10px;"><a href="@item.Url" style="background-color: @("#"+item.Value("buttonBackground"))">Learn More</a></p>
                </div>
                }
                   

                </div>
        </div>
    </div>
</section>