﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
    Layout = "layout.cshtml";
    var i = 1;
}
<!--==========================
 top Section
============================-->
<section id="about-top-head">
    <div class="container-fluid">
        <div class="row">
            <div class=" col-lg-12 text-lg-center">

                <h2>Common Faqs </h2>
            </div>
        </div>
    </div>
</section>


<!--==========================
  Services Section
============================-->


<section id="faq">
    @foreach (var item in Model.Value<List<IPublishedElement>>("faq"))
    {
        <div class="container">
            <div class="row">

                <div class="col-md-6 col-lg-3">

                    <div class="side-hr"> <hr> </div>
                    <div>

                        <h2>  @item.Value("name")</h2>
                    </div>
                </div>

                <div class="col-md-6 col-lg-8">


                    <ul id="faq-list" class="wow fadeInUp">
                        @foreach (var faq in item.Value<List<IPublishedElement>>("faq"))
                        {
                            <li>
                                <hr class="hr-faqs">
                                <a data-toggle="collapse" class="collapsed" href="#faq@(i)">
                                    @faq.Value("question")
                                </a>
                                <div id="faq@(i)" class="collapse" data-parent="#faq-list">
                                    @Html.Raw(faq.Value("answer"))
                                </div>
                            </li>
                            i++;

                        }
                        </ul>
                </div>
            </div>



        </div>
    }


    <!--==========================
       Services Section
     ============================-->
    @*<div class="container">
            <div class="row">

                <div class="col-md-6 col-lg-3">

                    <div class="side-hr"> <hr> </div>
                    <div>

                        <h2> Addictions We Treat</h2>
                    </div>
                </div>
                <div class="col-md-6 col-lg-8">


                    <ul id="faq-list" class="wow fadeInUp">
                        <li>
                            <hr class="hr-faqs">
                            <a data-toggle="collapse" class="collapsed" href="#faq1">
                                What type of addictions you treat?
                            </a>
                            <div id="faq1" class="collapse" data-parent="#faq-list">
                                <p>

                                    We are addiction medicine practice and treat almost all common addictions, namely opiate addiction, alcoholism, benzodiazepine dependence, cocaine use disorder and addiction to stimulants like Methamphetamines.
                                    Most of our treatments are part of comprehensive treatment plans and we have team approach. Our addiction medicine doctors, addiction nurses, psychologist, counselor and/medical social workers work in a very collaborative environment in an attempt to provide most compassionate and condusive environment to help them to stay sober.
                                </p>
                            </div>
                        </li>

                        <li>
                            <hr class="hr-faqs">
                            <a data-toggle="collapse" href="#faq2" class="collapsed">Feugiat scelerisque varius morbi enim nunc faucibus a pellentesque?    </a>
                            <div id="faq2" class="collapse" data-parent="#faq-list">
                                <p>
                                    Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.
                                </p>
                            </div>
                        </li>

                        <li>
                            <hr class="hr-faqs">
                            <a data-toggle="collapse" href="#faq3" class="collapsed">Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi?    </a>
                            <div id="faq3" class="collapse" data-parent="#faq-list">
                                <p>
                                    Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Faucibus pulvinar elementum integer enim. Sem nulla pharetra diam sit amet nisl suscipit. Rutrum tellus pellentesque eu tincidunt. Lectus urna duis convallis convallis tellus. Urna molestie at elementum eu facilisis sed odio morbi quis
                                </p>
                            </div>
                        </li>

                        <li>
                            <hr class="hr-faqs">
                            <a data-toggle="collapse" href="#faq4" class="collapsed">Ac odio tempor orci dapibus. Aliquam eleifend mi in nulla?    </a>
                            <div id="faq4" class="collapse" data-parent="#faq-list">
                                <p>
                                    Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.
                                </p>
                            </div>
                        </li>

                        <li>
                            <hr class="hr-faqs">
                            <a data-toggle="collapse" href="#faq5" class="collapsed">Tempus quam pellentesque nec nam aliquam sem et tortor consequat?    </a>
                            <div id="faq5" class="collapse" data-parent="#faq-list">
                                <p>
                                    Molestie a iaculis at erat pellentesque adipiscing commodo. Dignissim suspendisse in est ante in. Nunc vel risus commodo viverra maecenas accumsan. Sit amet nisl suscipit adipiscing bibendum est. Purus gravida quis blandit turpis cursus in
                                </p>
                            </div>
                        </li>

                        <li>
                            <hr class="hr-faqs">
                            <a data-toggle="collapse" href="#faq6" class="collapsed">Tortor vitae purus faucibus ornare. Varius vel pharetra vel turpis nunc eget lorem dolor?    </a>
                            <div id="faq6" class="collapse" data-parent="#faq-list">
                                <p>
                                    Laoreet sit amet cursus sit amet dictum sit amet justo. Mauris vitae ultricies leo integer malesuada nunc vel. Tincidunt eget nullam non nisi est sit amet. Turpis nunc eget lorem dolor sed. Ut venenatis tellus in metus vulputate eu scelerisque. Pellentesque diam volutpat commodo sed egestas egestas fringilla phasellus faucibus. Nibh tellus molestie nunc non blandit massa enim nec.
                                </p>
                            </div>
                            <hr class="hr-faqs">
                        </li>

                    </ul>
                </div>
            </div>



        </div>*@
</section><!-- #services -->
<!--==========================
  Call to Action section
============================-->
   