﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage

@{
    Layout = "layout.cshtml";
}
@Html.Partial("/Views/Partials/Home/Slider.cshtml")


<!--==========================
 Services Section
============================-->
@Html.Partial("/Views/Partials/Home/TopBoxes.cshtml")


<!-- #service section -->
<!--==========================
  About  Section
============================-->

@Html.Partial("/Views/Partials/Home/Welcome.cshtml")
<section id="about-home-b">
    <div class="container-fluid">
        <div class="row">

            <div class="col-lg-12 " style="padding: 0;">
                <img src="img/home/Portrait-2.png" alt="Muzzamal Habib">


            </div>
        </div>
    </div>
</section>
<!--==========================    Doctor Section
============================-->
@Html.Partial("/Views/Partials/Home/Faculty.cshtml")<!-- #intro -->
<!--==========================
  Services Section
============================-->
@Html.Partial("/Views/Partials/Home/Courses.cshtml")

<!--==========================
  Resources Section
============================-->
@Html.Partial("/Views/Partials/Home/Resources.cshtml")

