﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>@Model.Value("pageTitle")</title>
    <meta name="description" content="@Model.Value("description")">
    <meta name="keywords" content="@Model.Value("keywords")">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicons -->
    <link href="/img/favicon.png" rel="icon">
    <link href="/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Bootstrap CSS File -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style-home.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

    <script src="/scripts/jquery.min.js"></script>
    <script src="/scripts/bootstrap.min.js"></script>
    <script src="/scripts/popper.min.js"></script>
    <script src="/scripts/main.js"></script>
</head>

<body>
    <!--==========================
    Header
    ============================-->
    <!--top header-->

    @Html.Partial("/Views/Partials/Shared/Header.cshtml")
    <!--==========================
      Intro Section
    ============================-->
    @RenderBody()
    <!--==========================
      Call to Action section
    ============================-->
    <section id="cal-action">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 ">
                    <div class="box">
                        <div>

                            <h2>FIND A DOCTOR!</h2>
                            <form class="form_class" action="http://bestveinclinics.com/search" method="get">
                                <input class="feature-search" name="specialties" type="text" placeholder="Doctor, Speciality, Condition or Treatment " />
                                <input class="feature-search" name="addressbasic" type="text" placeholder="City, State/Province or Zip" />
                                <input class="feature_search_button" type="submit" value="Search" />
                            </form>
                            <p>A service provided by <a href="http://bestveinclinics.com/" target="_blank" rel="noopener">bestveinclinics.com</a> </p>
                        </div>


                    </div>
                </div>

            </div>

        </div>
    </section>
    <!--==========================
      Footer
    ============================-->
    @Html.Partial("/Views/Partials/Shared/Footer.cshtml")
    <!-- #footer -->
    @RenderSection("footerScripts", required: false)
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
    <script>
        $(document).ready(function () {

            $("#enroll").validate({
                rules: {
                    fname: 'required',
                    lname: 'required',
                    email: {
                        required: true,
                        email: true,
                    },

                },
                messages: {
                    fname: 'Firsn name is required',
                    lname: 'Last name is required.',
                    email: 'Please provide valie email',
                    //message: 'Feltet skal være udfyldt',


                },
                submitHandler: function (form) {
                    //console.log("ok");
                    var model = {
                        FirstName: $("input[name=fname]").val(),
                        LastName: $("input[name=lname]").val(),
                        Email: $("input[name=email]").val(),
                        Phone: $("input[name=phone]").val(),
                        Address: $("input[name=address]").val(),
                        Address2: $("input[name=address2]").val(),
                        City: $("input[name=city]").val(),
                        State: $("input[name=state]").val(),
                        ZIP: $("input[name=zip]").val(),
                        Country: $("#country option:selected").text(),
                        Experience: $("textarea[name=experience]").val(),
                        CourseName: $("#inputState option:selected").text(),
                        Physion: $("input[name='type']:checked").val(),
                        Amount: $("#amount").val(),
                    };
                    $('#register').attr('disabled', 'disabled');
                    $('#loading').show();
                    $.ajax({
                        url: "/umbraco/surface/CourseRegistration/Register",
                        type: "post",
                        data: model,
                        success: function (response) {
                            const { status, data } = response;
                            if (status) {
                                form.reset();
                                $("#return").val($("#return").val() + "?guId=" + data.GuId);
                                 $("#cancel_return").val($("#cancel_return").val() + "?guId=" + data.GuId);
                                $("#btn").click();
                            } else {
                                $('#register').removeAttr('disabled');
                                $('#loading').hide();
                            }


                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            console.log(textStatus, errorThrown);
                        }


                    });

                }
            });
        });



    </script>
</body>
</html>

