﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
    /**/

    Layout = "layout.cshtml";
}
@if (Model.HasValue("banner"))
{
    var banner = Model.Value<IPublishedContent>("banner").Url;
    <section id="Serd-top-head" style="background-image: url(@banner);">
        <div class="container-fluid">
            <div class="row">
                <div class=" col-lg-12 text-lg-center">
                    @Html.Raw(Model.Value("bannerContent"))
                </div>
            </div>
        </div>
    </section>
}

<section id="contact-form">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 ">
                <div class="box">
                    <div class="row">


                        <div class="col-lg-12">

                            @Html.Raw(Model.Value("content"))




                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section footerScripts {
    <script>
        jQuery(document).ready(function () {
            var val = getParameterByName('guId');
            if (val !== null) {
                 jQuery.ajax({
                url: '/umbraco/surface/CourseRegistration/UpdateStatus',
                type: 'post',
                contentType: 'application/json; charset=utf-8',
                dataType: "json",
                data: JSON.stringify({ guId: val }),
                success: function (data) {
                    if (data.status) {

                    }
                },
                error: function (errorThrown) {
                    console.log(errorThrown);
                }
            });
            }
           
           
        })

        function getParameterByName(name, url) {
            if (!url) url = window.location.href;
            name = name.replace(/[\[\]]/g, '\\$&');
            var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, ' '));
        }
    </script>
}