/*--------------------------------------------------------------
# home page fsfsf
--------------------------------------------------------------*/
.navbar-brand img{
  width: 250px;
}

/*sticky header position*/
.sticky.is-sticky {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
  background-color: #ffffff;
}


.navbar-light .navbar-nav .nav-link {
    display: block;
    position: relative;
    color: #413e66 !important;
    padding: 10px 15px;
    transition: 0.3s; 
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
}
.navbar-light .navbar-nav .nav-link:hover{
  color: #1bb1dc !important;
}   
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-item a:hover{
  color: #1bb1dc !important;
}
.navbar-light .app-btn a{
display: block;
position: relative;
color: #fff;
background-color: #772c84;
border-radius: 20px;
padding: 10px 15px;
transition: 0.3s;
font-size: 14px;
font-family: "Open Sans", sans-serif;
font-weight: 600;
}
#navbar  hover {
  background-color: #4CAF50;
  color: white;
}
#slider-home .carousel-inner .carousel-item{
  width:100%; 
  height:550px;
}
.carousel-caption {
 
  text-align: left !important;
  top: 25%;
  
}
.carousel-caption hr {  
  height: 2px;
  width: 65px;
  background-color: rgb(255, 255, 255);
  transition: none 0s ease 0s;
  line-height: 22px;
  font-weight: 400;
  font-size: 20px;
  text-align: left !important;
  position: absolute;
  margin-bottom: 20px;
}
.carousel-caption p {
  font-size: 24px;
  text-align: left;
  font-family: Montserrat;
  text-transform: uppercase;
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  margin-top: 40px;
}
.carousel-caption h3 {
  font-size: 64px;
  font-family: "Libre Baskerville";
  text-align: left;
 
}

.carousel-caption a {
  font-size: 12px;
  line-height: 17px;
  font-weight: 700;
  color: rgb(102, 169, 216);
  letter-spacing: 1px;
  font-family: Lato;
  background-color: rgb(255, 255, 255);
  border-radius: 3px;
  cursor: pointer;
  text-transform: uppercase;
  padding: 19px 56px;
  text-shadow: none;
}
.bg-home-ser{
  background-color: #2A1F36;
}
 
.home_section_ser {
  padding: 60px 60px;
}
.home_section_ser h2{
  font-family: 'Libre Baskerville',Georgia,"Times New Roman",serif;
  font-size: 30px;
  color: #ffffff ;
}
.home_section_ser p{
  font-family: 'Lato',Helvetica,Arial,Lucida,sans-serif;
  font-size: 16px;

  text-align: left;
  color: #a9a0b4!important;
}

.home_section_ser a{
font-family: 'Lato',Helvetica,Arial,Lucida,sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #ffffff!important;
  line-height: 37px;
  text-align: left;
}
#about-home {
    background-image: url(../img/slider/beclinic_psy_bg-1.jpg);
    background-position: center;
    padding: 60px;
}
#about-home hr {
  border-top-color: #63d2af;
  border-top-width: 3px;
  width: 10%;
  margin-bottom: 5.82%;
  display: inline-block;
  margin-top: 0px;
}
#about-home  h4{
  font-weight: 700;
  margin-bottom: 10px;
  font-family: 'Libre Baskerville',Georgia,"Times New Roman",serif;
  font-size: 30px;
  text-align: left;
}
#about-home  p{
  font-size: 16px;
  line-height: 23px;
  margin-bottom: 0;
  text-align: left;
  color: #333333;
  font-weight: 400;
}
#about-home .Welcome-home {
  padding-right: 17%;
  font-size: 16px;
}
#about-home a {
  color: #ffffff!important;
  margin-top: 20px;
  border-radius: 3px;
  letter-spacing: 2px;
  font-size: 12px;
  font-family: 'Lato',Helvetica,Arial,Lucida,sans-serif!important;
  font-weight: 600!important;
  text-transform: uppercase!important;
  background-color: #362946;
  padding: 18px 30px;
  display: inline-block;
}
.cl-to-action-home {
  background-image: linear-gradient(104deg,rgba(0,0,0,0.53) 46%,rgba(0,0,0,0.53) 100%),url(../img/beclinic_psy_bg-04.jpg)!important;
  padding: 60px 0%;
}
.cl-to-action-home h3 {
  font-family: 'Libre Baskerville',Georgia,"Times New Roman",serif;
  font-size: 34px;
  color: #ffffff!important;
 }
 .cl-to-action-home hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
  width: 5%;
    display: inline-block;
}
.cl-to-action-home p {
  font-family: 'Libre Baskerville',Georgia,"Times New Roman",serif;
  font-size: 24px;
  color: #ffffff;
 }
 .cl-to-action-home a {
  font-family: 'Libre Baskerville',Georgia,"Times New Roman",serif;
  font-size: 50px;
  color: #ffffff!important;
  text-align: center;
}
#why-us-home {
  padding: 60px 0;
  text-align: center;
}
#why-us-home  h3 {
  font-size: 36px;
  color: #413e66;
  text-align: center;
  font-weight: 700;
  position: relative;
  font-family: "Montserrat", sans-serif;
}
#why-us-home hr {
  border-top-color: #63d2af;
  border-top-width: 3px;
  width: 10%;
  display: inline-block;
  margin-top: 0px;
}
#why-us-home .dis_why {
  display: inline-flex;
  text-align: left;
}
#why-us-home h4 {
  margin-bottom: 10px;
  line-height: 1em;
  font-family: 'Raleway',Helvetica,Arial,Lucida,sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #47a8d8;
}
#why-us-home p {
  font-family: 'Lato',Helvetica,Arial,Lucida,sans-serif;
  font-size: 14px;
  color: #666;
  font-weight: 500;
  line-height: 1.7em;
}
#home-vid-sec {
  background: url(../img/bg/beclinic_psy_bg-02.jpg);
  background-size: cover;
  padding: 60px 0;
}
#home-vid-sec h2 {
  font-family: 'Libre Baskerville',Georgia,"Times New Roman",serif;
  font-size: 30px;
  color: #ffffff;
  text-align: left;
}
#home-vid-sec hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
  width: 10%;
    display: inline-block;
}
#home-vid-sec p {
  font-family: 'Lato',Helvetica,Arial,Lucida,sans-serif;
  font-size: 16px;
  color: #ffffff;
  text-align: left;
}
#home-vid-sec a {
  font-family: 'Lato',Helvetica,Arial,Lucida,sans-serif;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 26px;
  border-radius: 3px;
  transition: 0.5s;
  margin: 10px;
  border: 3px solid #fff;
  color: #66a9d8 !important;
  background-color: #fff;
}
#blog-home {
  padding: 60px 0;
  text-align: center;
}

#blog-home h2 {
  font-size: 36px;
  color: #413e66;
  text-align: center;
  font-weight: 700;
  position: relative;
  font-family: "Montserrat", sans-serif;
}
#blog-home h3 {
  font-size: 36px;
  color: #413e66;
  text-align: center;
  font-weight: 700;
  position: relative;
  font-family: "Montserrat", sans-serif;
}
#blog-home hr {
  border-top-color: #63d2af;
  border-top-width: 3px;
  width: 10%;
  display: inline-block;
  margin-top: 0px;
}
#blog-home a {
  font-size: 22px;
  line-height: 1.4em;
  text-align: center;
  font-family: 'Libre Baskerville',Georgia,"Times New Roman",serif;
  color: #1e2428;
  font-weight: 500;
}
.home-news-color a{
    color: #66a9d8 !important;
}
#blog-home p {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.7em;
  font-family: 'Lato',Helvetica,Arial,Lucida,sans-serif;
  text-align: center;
  color: #666;
  margin-bottom: 0px;
}
#blog-home .blog-read-more a{
  font-size: 14px !important;
 color: #66a9d8;
}
#blog-home a img {
   height: 250px;
   border-radius: 5px;
       width: 370px;

}
#blog-home img {
   height: 250px;
   border-radius: 5px;
       width: 370px;

}

#contact-form-home {
  padding: 60px;
  text-align: center;
  background: #efeded;
}

#contact-form-home .box {
  padding: 30px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
  transition: all 0.3s ease-in-out;
}
#contact-form-home h4 {
  font-weight: 700;
  margin-bottom: 6px;
  font-family: 'Libre Baskerville',Georgia,"Times New Roman",serif;
  font-size: 30px;
 }
 #contact-form-home hr {
  border-top-color: #63d2af;
  border-top-width: 3px;
  width: 10%;
  display: inline-block;
  margin-top: 0px;
}
#contact-form-home .form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -5px;
  margin-left: -5px;
}
#contact-form-home .contact-form {
  text-align: left;
  padding: 0px 3% !important;
}

#contact-form-home .contact-form input {
  background-color: #eee;
  font-size: 14px;
  padding: 16px;
  color: #999;
  width: 100%;
  font-family: 'Lato',Helvetica,Arial,Lucida,sans-serif;
 border: 1px solid #ced4da;
 border-radius: .25rem;
 margin-bottom: 3%;
}
#contact-form-home .contact-form textarea {
  background-color: #eee;
  font-size: 14px;
  padding: 16px;
  color: #999;
  width: 100% !important;
  font-family: 'Lato',Helvetica,Arial,Lucida,sans-serif;
 border: 1px solid #ced4da;
 border-radius: .25rem;
 margin-bottom: 3%;
}
#contact-form-home .checkbox{
  width: 50%;
float: left;
text-align: left;
margin-left: 2%;
}
#contact-form-home button  {
  color: #ffffff;
  background: #362946;
  border-width: 0px ;
  letter-spacing: 2px;
  font-size: 12px;
  font-family: 'Lato',Helvetica,Arial,Lucida,sans-serif;
  text-transform: uppercase;
  padding: 15px 20px;
  float: right;
  cursor: pointer;
}

#footer{
  padding: 60px 0;
  text-align: left;
}
#footer  h3 {
  font-size: 22px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-family: 'Lato',Helvetica,Arial,Lucida,sans-serif;
  color: #000000;
  font-weight: 400;
  text-align: left;
}
#footer  p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: 'Lato',Helvetica,Arial,Lucida,sans-serif;
  color: #535074;
  padding-top: 5px;
  display: flex;
}
#footer .location-element   img{
  width:26px;
  float: left;
  margin-right: 5px;
    margin-top: 2%;
} 
#footer ul{
list-style: none;
padding: 0px;
}
#footer li a{
  color: #535074;
  line-height: 24px;
}
#footer .recent-blog   img{
  width:80px;
  float: left;
  margin-right: 5px;
    margin-top: 2%;
} 
#footer .recent-blog a{
  
  font-size: 14px;
  color: #808080;
  font-family: 'Lato',Helvetica,Arial,Lucida,sans-serif;
} 

#footer .copyright {
  text-align: center;
  padding-top: 30px;
  color: #fff;
  font-size: 15px;
   
}
#footer .copyright a {
  text-align: center;
  padding-top: 30px;
  color: #fff;
  font-size: 15px;
}
#footer {
  padding: 0 0 30px 0;
  font-size: 14px;
  background: rgba(0,0,0,0.73);
}

 
#footer .footer-top {
    padding: 60px 0 30px 0;
    background: #fff;
}

/*--------------------------------------------------------------
# Appointment Page
--------------------------------------------------------------*/

@media (max-width: 574px) {
  /*--------------------------------------------------------------
# home page
--------------------------------------------------------------*/
  .navbar-brand img{
    width: 230px;
  }
  #home-vid-sec .vid-sec-img img{
width: 300px;

  }
  #blog-home a img{
     
    height: 196px;

  }
  .carousel-caption p{
    font-size: 14px !important;
}
.carousel-caption {
  top: 2%;
}

.carousel-caption h3{
    font-size: 30px !important;
    
}
.carousel-caption a{
    padding: 13px 20px !important;
}
#slider-home{
  height: 300px;
}
.home_section_ser{
  padding-left: 38px;
}
#about-home{
  
  background-image: none;
}
#about-home .Welcome-home{
  padding: 0px;
}
.cl-to-action-home a{

  font-size: 40px;
}
#home-vid-sec{
  text-align: center;
}
#home-vid-sec h2{
  text-align: center;
}
#home-vid-sec hr{
  border-top: 3px solid #eee;
  width: 21%;
}
#contact-form-home .contact-form{
  padding: 0px;
}
#contact-form-home .box{
  padding: 30px 0px;
}
#footer .footer-top{
  padding: 60px 30px ;
}
.footer-links {
  padding-top: 60px;
}
.footer-info{
  padding-top: 60px;
}
#contact-form-home{
  padding: 30px;
}
#contact-form-home h4{
  font-size: 25px;
}
.block-section p{
  margin: 0px !important;
}
#video .block-section img{
  width: 100%;
}
#whats-unique{
  padding-top: 0px !important;
  padding-bottom: 60px;
}
.cl-to-action-footer .cl-align{
  margin: 0px 10% !important;
  max-width: 100% !important;
  padding: 60px 0px !important;
}
.cl-to-action-footer h3{
  font-size: 30px !important;

font-weight: 700 !important;

font-family: 'Libre Baskerville',Georgia,"Times New Roman",serif !important;
}
#blog-detail{
  padding: 30px !important;
}
#blog-detail .box{
  margin: 30px 0px;
}
.side-form{
  margin: 30px 0px;
}
#blog-detail .box h2{
  font-size: 26px !important;

font-family: 'Libre Baskerville',Georgia,"Times New Roman",serif !important;
}
#top-blog-bar{
  padding: 5% 5%;
}
#top-blog-bar .navigation-category{
  margin: 15px 0px;
}
#blogs{
  padding: 30px !important;
}
#blogs .blog-post{
  margin: 20px 0px;
}


.contact-info h5{
  margin-top: 15px;
}
#contact-map-sec{
  padding: 30px 0px;
}
.app-top .top-app-head{
  margin: 25px 7%;
}
#faq #faq-list a.collapsed{
  line-height: 1.7rem;
}
}
/*--------------------------------------------------------------
# appointment page
--------------------------------------------------------------*/
.app-top {
  padding: 60px 0;
  background-position: top center;
  background-image: url(../img/slider/slider-psy-3.jpg);
}
.app-top h3 {
  font-family: 'Lato',Helvetica,Arial,Lucida,sans-serif;
  font-size: 22px;
  color: #fff;
}
.app-top p {
  font-family: 'Lato',Helvetica,Arial,Lucida,sans-serif;
  font-size: 15px;
  color: #fff;
  margin-bottom: 0px;
}
.top-app-head{
  background-color: rgba(120,51,132,0.85);
  padding: 25px;
  text-align: center;
  width: 318px;
}
.app-top .top-app-head {
  margin: 25px 10%;
}
.cl-to-action-footer {
  background-image: url(../img/sliderbg.png),linear-gradient(100deg,#7f67f7 0%,#4200dd 100%)!important;
}
.cl-to-action-footer .cl-align {
  max-width: 50%;
  text-align: center;
  margin: 0px 22%;
  padding: 60px;
}
.cl-to-action-footer h3 {
  font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 1.4em;
  color: #fff;
}
.cl-to-action-footer p {
  color: #fff;
  font-size: 18px;
  padding-bottom: 15px;
}
.cl-to-action-footer .cl-btn {
  color: #2a2a2a;
  background: #ffffff;
  border: 12px solid #fff;
  letter-spacing: 2px;
  font-size: 12px;
  font-family: 'Lato',Helvetica,Arial,Lucida,sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0.7em .5em;
  border-radius: 5px;
}
/*--------------------------------------------------------------
# appointment page
--------------------------------------------------------------*/
#contact-map-sec{
  background: #efeded;
  padding: 60px 0;
  text-align: center;
}
#contact-map-sec h4 {
  font-weight: 700;
  margin-bottom: 6px;
  font-family: 'Libre Baskerville',Georgia,"Times New Roman",serif;
  font-size: 30px;
  text-align: center;
}
#contact-map-sec hr {
  border-top-color: #63d2af;
  border-top-width: 3px;
  width: 10%;
  display: inline-block;
  margin-top: 0px;
}
#contact-map-sec .map-cont {
  background-color: #772C84;
  border-radius: 15px;
  border: 5px solid #772C84;
}
#contact-map-sec .map-container iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
.mapouter{
    width:100% !important;
}

.contact-info p {
  font-family: 'Lato',Helvetica,Arial,Lucida,sans-serif;
  font-weight: 500;
  margin: 0 0 20px 0;
  padding: 0;
  font-size: 15px;
  color: white;
  margin-top: 21px;
  text-align: left;
}
.contact-info h5 {
  font-family: 'Quicksand',Helvetica,Arial,Lucida,sans-serif;
  font-weight: 500;
  padding: 0;
  font-size: 18px;
  color: white;
  margin-top: 21px;
  text-align: left;
  margin-left: 40px;
}
.contact-info a {
  font-family: 'Quicksand',Helvetica,Arial,Lucida,sans-serif;
  font-weight: 500;
  padding: 0;
  font-size: 18px;
  color: white;

  text-align: left;

}
.fa-map-marker-alt:before {
  content: "\f2d2";
  color: #772C84;
  background-color: #ffffff;
  font-size: 18px;
  border-radius: 100%;
  padding: 8px;
  font-size: 16px;
  display: table-cell;
  -webkit-border-radius: 100%;
  line-height: 1;
  max-width: 100%;
  height: 100%;
  float: left;
  margin-right: 4%;
}
.fa-phone:before{
  content: "\f2d2";
  color: #772C84;
  background-color: #ffffff;
  font-size: 18px;
  border-radius: 100%;
  padding: 8px;
  font-size: 16px;
  display: table-cell;
  -webkit-border-radius: 100%;
  line-height: 1;
  max-width: 100%;
  height: 100%;
  float: left;
  margin-right: 4%;
}
.contact-icon{
  float: left;
}
/*--------------------------------------------------------------
# Blog page
--------------------------------------------------------------*/

#top-blog-bar{
  background-color: #f7f6f5;
  padding: 2% 5%;
}
#top-blog-bar .navigation-category ul  {
  text-align: center;
}
#top-blog-bar .navigation-category ul li {
  display: inline-block;
}
#top-blog-bar .navigation-category ul li a {
  color: #444;
  font-family: 'Raleway',Helvetica,Arial,Lucida,sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 1px;
  margin-right: 15px;
}
#top-blog-bar .socail-icon {
   text-align: center;
 }
#top-blog-bar .socail-icon .social-links a{
  font-size: 18px;
  display: inline-block;
  background: #1bb1dc;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}
#blogs{
  padding: 60px;
  background: #efeded;
}
#blogs .blog-post img{
    border-radius: 5px;
    width: 436px;
     height: 291px;
}
#blogs .box img{
    border-radius: 5px;
    width: 436px;
     height: 291px;
}
 
#blogs .blog-post{
position: relative;
    overflow: hidden;
    border-radius: 10px;
    background: #fff;
    margin-bottom: 20px;
    box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
    transition: all 0.3s ease-in-out;
}
#blogs .blog-post .blog-post-text{
  padding: 30px;
  }
  #blogs .blog-post .blog-post-text a {
    line-height: 1.7em;
    font-family: 'Lato',Helvetica,Arial,Lucida,sans-serif;
    font-size: 18px;
    color: #333;
    font-weight: 600;
}
#blogs .blog-post .blog-post-text p {
  font-size: 15px;
  line-height: 28px;
  }
  
  
  
#blog-detail .box .media .media-body h3{
    font-weight: 600;
    margin-bottom: 0px;
    font-family: 'Libre Baskerville',Georgia,"Times New Roman",serif;
    font-size: 25px;
    text-align: left;
}
#blog-detail .box .media .media-body h5{
   font-family: 'lato',Georgia,"Times New Roman",serif;
  font-size: 18px;
  text-align: left;
  color: #666;
  font-style: italic;
}
#blog-detail .box .media .media-body p{
  color: #666666;
  font-size: 18px;
}
  .side-form-2{
    padding: 30px;
    position: relative;
    border-radius: 10px;
    margin-bottom: 15px;
    background-color: #ffffff;
    box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
}
.side-form-2 h2{
  margin-bottom: 0px;
  line-height: 1;
}
.side-form-2 a{
  color: #666;
  padding-left: 15px;
}

.side-form-2 .contact-side-2 a{

  color: #dc6016;
  font-size: 16px;

}
.side-form-2 .more-about a{
  padding-left: 0px;
  color: #82c0c7;
  font-size: 14px;
}
.side-form{
    padding: 30px;
    position: relative;
    border-radius: 10px;
    background-color: #56456C;
    box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
        border: 2px solid #ffff;
}
.side-form h4{
  font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    color: #ffffff;
}
.side-form hr {
  border-top-color: #63d2af;
  border-top-width: 3px;
  width: 10%;
  display: inline-block;
  margin-top: 0px;
}
.form-control{
  padding: 0px;
  margin-bottom: 15px;
  background-color: rgba(30,36,40,0.2);
  color: #fff;
}
.top-search-bar{
  padding-left: 15px;
}
.form-control input{
  height: 100% ;
  width: 100%;
  Padding: 15PX;
  background-color: rgba(30,36,40,0.2);
  color: #fff;
  border: 2px;
}
.form-control textarea{
  height: 100% ;
  width: 100%;
  Padding: 15PX;
  background-color: rgba(30,36,40,0.2);
  color: #fff;
  border: 2px;
}
.form-group {
  text-align: left;
  color: white;
  font-size: 15px;
}
.form-button {
  text-align: center;
}
.form-button button{
  color: #2a93c9!important;
  background: #ffffff;
  border-width: 0px!important;
  letter-spacing: 2px;
  font-size: 12px;
  font-family: 'Lato',Helvetica,Arial,Lucida,sans-serif!important;
  text-transform: uppercase!important;
  padding: 15px 20px;
}



/*--------------------------------------------------------------
# Blog Detail  page
--------------------------------------------------------------*/
#blog-detail{
  background: #efeded;
  padding: 60px;
  text-align: left;
}
#blog-detail .box {
  padding: 30px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
  transition: all 0.3s ease-in-out;
      margin-bottom: 15px;
}
#blog-detail h5 {
  font-weight: 400;
  margin-bottom: 6px;
  font-family: 'Libre Baskerville',Georgia,"Times New Roman",serif;
  text-align: left;
  font-size: 26px; 
  margin-top: 15px;
}

#blog-detail h4 {
  font-weight: 700;
  margin-bottom: 6px;
  font-family: 'Libre Baskerville',Georgia,"Times New Roman",serif;
  font-size: 30px; 
  text-align: left;
}
#blog-detail hr {
  border-top-color: #63d2af;
  border-top-width: 3px;
  width: 10%;
  display: inline-block;
  margin-top: 0px;
}
#blog-detail p {
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 0;
  text-align: left;
  padding-top: 20px;
}
#blog-detail img {
  width: 100%;
  margin-bottom: 15px;
  padding-bottom: 15px;
}


/*--------------------------------------------------------------
# about page
--------------------------------------------------------------*/

#mission{
  background: #efeded;
  padding: 60px 0;
  text-align: center;
}
.block-section{
  padding: 30px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    background: #fff;
    width: 80%;
    margin: 0 10%;
    box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
    transition: all 0.3s ease-in-out; 
}
.block-section h4{
  font-weight: 700;
  font-family: 'Libre Baskerville',Georgia,"Times New Roman",serif;
  font-size: 30px;
}
.block-section p{
  font-size: 17px;
    line-height: 28px;
    margin-bottom: 0;
    margin: 0px 10%;
    text-align: center;
}


.block-section hr{
  border-top-color: #63d2af;
  border-top-width: 3px;
  width: 10%;
  display: inline-block;
  margin-top: 0px;
}
#serve{
  background: #efeded;
  text-align: center;
}
#unique{
  background: #efeded;
  padding: 60px 0px;
  text-align: center;
}
#video{
  background: #efeded;
padding-bottom: 60px;
  text-align: center;
}
#content{
  background: #efeded;
  padding: 60px 0px;
  text-align: left;
}

/*--------------------------------------------------------------
# Team page
--------------------------------------------------------------*/

#team-top-section{
  background: #efeded;
  padding: 60px 0;
  text-align: center;
}
.team-dec h4{
  font-weight: 700;
  font-family: 'Libre Baskerville',Georgia,"Times New Roman",serif;
  font-size: 30px;
}
.team-dec p{
  font-size: 17px;
    line-height: 28px;
    margin-bottom: 0;
    margin: 0px 10%;
    text-align: center;
}
.team-dec hr{
  border-top-color: #63d2af;
  border-top-width: 3px;
  width: 10%;
  display: inline-block;
  margin-top: 0px;
}
#team{
  padding: 60px 0;
  text-align: center;
}
.team-member-dec img{
  width: 340px;
  height: 340px;
}
.team-member-dec h4{

    margin-bottom: 2px;
    color: #000;
    font-family: 'Raleway',Helvetica,Arial,Lucida,sans-serif;
    font-weight: 600;
    font-size: 22px;
    line-height: 1.4em;
    text-align: left;
}
.team-member-dec p{
  color: #808080;
    font-family: 'Raleway',Helvetica,Arial,Lucida,sans-serif;
    font-size: 16px;
    line-height: 1.8em;
    text-align: justify;
}
.team-member-dec h5 {
  font-family: 'Raleway',Helvetica,Arial,Lucida,sans-serif;
  font-size: 16px;
  line-height: 1.8em;
  color: #aaa;
  text-align: left;
  margin-bottom: 0px;
}
.team-member-dec a{
  color: #fff;
  background: #26A9E0;
  border: 12px solid #26A9E0;
  letter-spacing: 2px;
  font-size: 12px;
  font-family: 'Lato',Helvetica,Arial,Lucida,sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0.7em .5em;
}
.team-member-dec a:hover {
  color: #fff;
  background: #8c0987;
  border: 12px solid #8c0987;
  letter-spacing: 2px;
  font-size: 12px;
  font-family: 'Lato',Helvetica,Arial,Lucida,sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0.7em .5em;
}

/*--------------------------------------------------------------
# Blog Detail page
--------------------------------------------------------------*/
.team-dtl-2{
  margin-top: 2%;
}
#blog-detail .box .team-dtl h5{
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  color: #444444;
  line-height: 29px;

}
#blog-detail .team-dtl-img img{
  border-radius: 10px;
  overflow: hidden;
  width: 82%;
  border: 9px solid #fff;
  box-shadow: -1px 2px 18px 3px rgba(0,0,0,0.3);
}

#blog-detail .box-4 img {
  float: left;
  margin-right: 2%;
  width: 26px;
}
#blog-detail .box-4 {
  padding: 15px;
  margin-top: 3%;
  margin-bottom: 3%;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
  transition: all 0.3s ease-in-out;
}
#blog-detail .box-4 a {
  color: #333333;
  font-size: 17px;
  font-family: 'Lato',Helvetica,Arial,Lucida,sans-serif;
}
.custom-select {
  height: 100%;
  Padding: 15PX;
  background-color: rgba(30,36,40,0.2);
  color: #fff;
}
/*--------------------------------------------------------------
# faq page
--------------------------------------------------------------*/
#faq{
  background: #efeded;
  padding: 60px 0;
  text-align: center;
}
#faq hr {
      border: 2px solid black !important;
}
#faq .side-hr hr {
  border: 5px solid #000;
    width: 100%;
}
#faq h2{
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
  text-align: left;
}
#faq #faq-list li .hr-faqs:last-child {
  margin-top: 20px;
}
#faq #faq-list {
padding: 0;
list-style: none;
text-align: left;
}

#faq #faq-list li {
border-bottom: 1px solid #ebebeb;
}

#faq #faq-list a {
padding: 20px 10px 0 0;
display: block;
position: relative;
font-family: "Montserrat", sans-serif;
font-size: 20px;
line-height: 1;
font-weight: 400;
 
margin-top : 1px !important;

border-radius: 15px 15px 0px 0px;
}

#faq #faq-list i {
font-size: 24px;
position: absolute;
right: 25px;
top: 20px;

}

#faq #faq-list p {
margin-bottom: 20px;
}

#faq #faq-list a.collapse {
color: #1bb1dc;
}

#faq #faq-list a.collapsed {
  color: #000;
  background: transparent;
}
#faq #faq-list a.collapsed i::before {
content: "\f2c7" !important;
}
#faq #faq-list li a {
  background: #fff;
  color: #000;
  margin: 0 !important;
  padding: 20px;
}
#faq #faq-list li div.show {
  background: #fff;
  border-radius: 0px 0px 15px 15px;
}
#faq #faq-list li div{
  padding: 20px;
}
#faq .collapse.show li{background-color : #FFF!important}

#faq .hr-faqs{
  border: 2px solid black !important;

}
#faq li{
  margin-bottom:1.5rem ;
}