/*--------------------------------------------------------------
# home page
--------------------------------------------------------------*/
.navbar-brand img{
  width: 250px;
}
#top-menu li a:before {
  content: "";
  position: absolute;
  z-index: -2;
  left: 0;
  right: 100%;
  bottom: 50%;
  background: #772C84;
  height: 3px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
/*sticky header position*/
.sticky.is-sticky {
  position: fixed;
  left: 0;
  right: 0;
  top: 0; 
  z-index: 1000;
  width: 100%;
  background-color: #f9f9f9;
}
.navbar-light .navbar-nav .nav-link {
    display: block;
    position: relative;
    color: rgba(0,0,0,.6) ;
    padding: 0px 15px;
    text-transform: uppercase;
    transition: 0.3s; 
    font-size: 14px;
    font-family:  "Raleway", Helvetica, Arial, Lucida, sans-serif;
 }
 .navbar-expand-lg .navbar-nav .nav-link{
   padding: 0px;
   margin-right: 29px;
 }
 /*
.navbar-light .navbar-nav .nav-link:hover{
  color: #1bb1dc !important;
}  */ 
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-item a:hover{
  
  color: #772C84;
  transition: all .4s ease-in-out;
  border-bottom: 2px solid;
 
}
.navbar-light .app-btn a{
  background-color: #772c84!important;
    text-transform: uppercase;
  text-align: center;
  padding: 11px 20px;
  border-radius: 3px;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: #ffff;
}
#navbar  hover {
  background-color: #4CAF50;
  color: white;
}
#navbar  li a:before {
  content: "";
  position: absolute;
  z-index: -2;
  left: 0;
  right: 100%;
  bottom: 50%;
  background: #772C84;
  height: 3px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
#demo .carousel-inner .carousel-item{
  width:100%; 
  height:550px;
}
.carousel-caption {
 
  text-align: left !important;
  top: 25%;
  background-color: rgba(0, 0, 0, 0.6);
  max-width: 31%;
  max-height: 25%;
  padding: 15px;
}
.carousel-inner img{
  width: 100%;
}
.carousel-caption p {
  font-size: 24px;
  text-align: left;
  font-family: Montserrat;
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
}
.carousel-caption h3 {
  font-size: 43px;
  font-family: "Libre Baskerville";
  text-align: left;
  margin-bottom: 0px;
}
.carousel-caption hr{
  z-index: 8;
  background-color: rgb(0, 122, 255);
  visibility: inherit;
  transition: none 0s ease 0s;
  text-align: inherit;
  line-height: 11px;
  border-width: 0px;
  margin: 0px;
  padding: 0px;
  letter-spacing: 0px;
  font-weight: 500;
  font-size: 6px;
  white-space: nowrap;
  min-height: 5px;
  min-width: 124px;
  max-height: 5px;
  max-width: 124px;
  opacity: 1;
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  transform-origin: 50% 50% 0px;
}
 
#slider-before-section{
  margin-top: -170px;
  background-color: #EFEFEF;

}

.bg-home-ser{
  background-color: #45aaff;
  text-align: center;
}
 
.bg-home-ser-mid{ 
  background-color: #269cff;
  text-align: center;
}
.home_section_ser {
  padding: 80px 60px;
}
.home_section_ser h2{
  font-family: 'Raleway',Helvetica,Arial,Lucida,sans-serif;
  font-size: 18px;
  font-weight: 600; 
  text-align: center;
  color: #ffffff ;
}
.home_section_ser p{
  font-family: 'Lato',Helvetica,Arial,Lucida,sans-serif;
  font-size: 16px;
  text-align: center;
  color: #ffffff ;
}

.home_section_ser a{
font-family: 'Lato',Helvetica,Arial,Lucida,sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #ffffff;
  line-height: 37px;
  text-align: center;
  border: 2px solid;
  padding: 10px 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
 #about-home {
  background-color: #EFEFEF;
  background-position: center;
  padding: 60px;
  padding-bottom: 0;
}
#about-home-b{
  background-color: #EFEFEF;
  padding: 0px;
}
#about-home-b img{
  width: 100%;
}
#about-home  h2{
  font-weight: 700;
  margin-bottom: 10px;
  font-family: 'Raleway',Helvetica,Arial,Lucida,sans-serif;
  font-size: 50px;
  text-align: left;
}

#about-home  h4{
  font-weight: 500;
  margin-bottom: 10px;
  font-family: 'Raleway',Helvetica,Arial,Lucida,sans-serif;
  font-size: 26px;
  
  text-align: left;
}
#about-home p{
  font-size: 14px;
  line-height: 23px;
  margin-bottom: 0;
  text-align: left;
  color: #333333;
  font-weight: 400;
}
.d-flex  {
  width: 112px;
}
.media{
  margin-top: 17px;
}
.media-body{
  padding: 25px;
}
.media p{
  color: #666666;
}
#about-home .Welcome-home {
  font-size: 16px;
}
.home-about-sec-2{
  background-color: #772C84;
  padding: 50px;
}
#about-home .home-about-sec-2 h4{
  font-weight: 500;
  margin-bottom: 10px;
  font-family: 'Raleway',Helvetica,Arial,Lucida,sans-serif;
  font-size: 17px;
  color: rgba(255,255,255,0.64);
  line-height: 1em;
  text-align: left;
}
#about-home .home-about-sec-2 h5{
  font-size: 17px;
  color: rgba(255,255,255,0.64);
  text-align: left;
}
#about-home .home-about-sec-2 h3{
  font-family: 'Raleway',Helvetica,Arial,Lucida,sans-serif;
  font-size: 20px;
  color: #ffff;
  line-height: 1em;
  text-align: left;
  padding-bottom:  10px;
}
#about-home .home-about-sec-2 p{
  font-family: 'lato',Helvetica,Arial,Lucida,sans-serif;
  font-size: 16px;
  color: #ffff;
  padding-bottom:  1em;
  text-align: left;

}

#doc-home {
background-color: #772c84;
  padding: 60px 0%;
}
#doc-home h2 {
  font-weight: 600;
  font-size: 41px;
  text-align: center;
  color: #ffffff;
 }
 #doc-home img{
  width: 150px;
  }
#doc-home h5{
  font-family: 'lato',Helvetica,Arial,Lucida,sans-serif;
    font-size: 19px;
    color: #ffffff;
   }
#doc-home p {
  font-family: 'lato',Helvetica,Arial,Lucida,sans-serif;
  font-size: 17px;
  color: #ffffff;
  padding: 16px 14%;
 }
 #doc-home a {
  color: rgba(255,255,255,0.92);
  border: 2px solid #ffff;
  padding: 11px 20px;
    letter-spacing: 1px;
    font-size: 16px;
    font-family: 'Raleway',Helvetica,Arial,Lucida,sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    background-color: rgba(0,0,0,0);
}  


#ser-home{
  padding: 60px 0;
  text-align: center;
  background-image: url(../img/home/confrence-room.jpg);
}
#ser-home .ser-home-head{
  padding-bottom: 30px;
  color: #ffff;

}
#ser-home h2{
  font-weight: 600;
  font-size: 41px;
}
#ser-home p{
  font-weight: 600;
  font-size: 19px;
  margin-bottom: 0px;
}
.ser-f .ser-s .ser-t{
  margin-right: 3%;
}
.ser-image{
  background-image: url(../img/GPlay.svg);  
  text-align: left;
  color: #ffffff;
  padding: 30px;
}
.ser-image-b{
  color: #000000 !important;
}
.ser-image h3{
  font-weight: 700;
  font-size: 26px;
}
.ser-image p{
font-size: 16px;
}


.ser-f{
  background-color: rgba(69,170,255,0.86);
}
.ser-s{
  background-color: rgba(119,44,132,0.95);
}
.ser-t{

  background-color: rgba(229,229,229,0.89);
}
#ser-home .ser-dec{
  color: #ffffff;
  padding: 30px;
  text-align: left;
}
#ser-home .ser-dec-b{
  color: #000 !important;
}
#ser-home .ser-dec p{
  font-size: 16px;
}
.ser-f a{
  border-width: 0px;
  font-weight: 600;
  text-transform: uppercase;
  background-color: rgba(119,44,132,0.79);
  padding: 10px 15px;
  color: #fff;
  display: inline-block;
  margin-top: 10px;
}
.ser-s a{
  border-width: 0px;
  font-weight: 600;
  text-transform: uppercase;
   background-color: #fbc02d;
   padding: 10px 15px;
   color: #fff;
   display: inline-block;
   margin-top: 10px;
}
.ser-t a{
  border-width: 0px;
  font-weight: 600;
  text-transform: uppercase;
  background-color: #449D44;
  padding: 10px 15px;
  color: #fff;
  display: inline-block;
  margin-top: 10px;
}
.ser-btm{
  padding-top: 30px;
  color: #fff;
}
#res-sec{
  background-color: #e5e5e5;
  padding: 60px 0;
  font-size: 16px;
}
 
.res-sec-img img{
  max-width: 100%;
}
#cal-action{
  padding: 60px 0;
  text-align: center;
  background-image: linear-gradient(104deg,rgba(145, 142, 142, 0.53) 46%,rgba(145, 142, 142, 0.53) 100%),url(../img/home/beclinic_psy_bg-04.jpg)!important;
}
#cal-action .box{
  background-color: #ffffff;
  border-radius: 10px;
  padding: 15px;
}
#cal-action .box h2{
  font-size: 44px;
}
#cal-action .box form_class{
  padding: 15px;
}
.feature-search {
  height: 50px;
  width: 35%;
  padding-left: 20px!important;
  border: 0;
  border-radius: 3px;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.35);
  font-size: 1rem;
  color: #333;
  margin-right: 10px!important;
}
.feature_search_button {
  background-color: #772c84!important;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  height: 50px;
  width: 9%;
  color: #fff;
  border-radius: 3px;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.35);
  border: none!important;
}
#footer{
  padding: 60px;
  background-color: #772c84;
}
#footer  h3 {
  font-size: 22px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-family: 'Lato',Helvetica,Arial,Lucida,sans-serif;
  color: #ffffff;
  font-weight: 400;
  text-align: left;
}
 

 #footer  a {
  font-size: 16px;
  line-height: 1.5;
  font-family: 'Lato',Helvetica,Arial,Lucida,sans-serif;
  color: #ffffff;
 }

#footer  p {
  font-size: 16px;
  line-height: 24px;
  font-family: 'Lato',Helvetica,Arial,Lucida,sans-serif;
  color: #ffffff;
  padding-top: 5px;
}
#footer .fa, .fas{
  float: left;
  padding-right: 15px;
} 



#footer ul{
list-style: none;
padding-left: 10px;
border-left: 1px dotted #fff;
}
#footer li a{
  color: #ffffff;
  line-height: 30px;
}
#footer img{
  width: 250px;
} 
#footer .recent-blog a{
  
  font-size: 14px;
  color: #808080;
  font-family: 'Lato',Helvetica,Arial,Lucida,sans-serif;
} 

#footer-credit{
  background-color: #191F28;
  padding: 15px;
}

#footer-credit .copyright {
  text-align: center;
   color: #fff;
  font-size: 15px;
   
}
#footer-credit .copyright a {
  text-align: center;
  padding-top: 30px;
  color: #fff;
  font-size: 15px;
}

/* enroll page */
#reg-now{
  padding: 60px;
}
#reg-now .vein-crs{ 
    font-size: 16px;
    background-color: #45aaff;
    border-radius: 15px;
    padding: 40px 15px;
   text-align: center;
   color: #ffffff;
   margin: 5%;
  }    
#reg-now .vein-crs h2 {
  font-family: 'Raleway',Helvetica,Arial,Lucida,sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 29px;
 }
 #reg-now .vein-crs a {
 padding: 10px 15px;
    background-color: #6a259c;
    color: #ffff;
    font-family: 'Lato',Helvetica,Arial,Lucida,sans-serif;
    font-size: 20px;
  }

  #reg-now .wound-crs{ 
    font-size: 16px;
    background-color: #772c84;
    border-radius: 15px;
    padding: 40px 15px;
   text-align: center;
   color: #ffffff;
   margin: 5%;
}    
#reg-now .wound-crs h2 {
  font-family: 'Raleway',Helvetica,Arial,Lucida,sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 29px;
 }
 #reg-now .wound-crs a {
 padding: 10px 15px;
    background-color: #dd9c0f;
    color: #ffff;
    font-family: 'Lato',Helvetica,Arial,Lucida,sans-serif;
    font-size: 20px;
  }

#reg-now .bus-crs{ 
    font-size: 16px;
    background-color: #cccccc;
    border-radius: 15px;
    padding: 40px 15px;
   text-align: center;
   color: #000000;
   margin: 5%;
}    
#reg-now .bus-crs h2 {
  font-family: 'Raleway',Helvetica,Arial,Lucida,sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 29px;
 }
 #reg-now .bus-crs a {
 padding: 10px 15px;
    background-color: #449d44;
    color: #ffff;
    font-family: 'Lato',Helvetica,Arial,Lucida,sans-serif;
    font-size: 20px;
  }
  .form-control{
    margin-bottom: 20px;
  }
/*--------------------------------------------------------------
# Appointment Page
--------------------------------------------------------------*/

@media (max-width: 574px) {
  .carousel{
    height: 350px;
  }
  .carousel-inner img{
    height: 100%;
  }
  .carousel-caption p{
    font-size: 14px !important;
}
.carousel-caption {
  top: 20%;
  max-width: 70%;
  max-height: 20%;
}
.navbar-expand-lg .navbar-nav .nav-link{
  padding: 10px;
}
.carousel-caption h3{
    font-size: 30px !important;   
}
#slider-before-section{
  margin-top: 0px;
}
#slider-home{
  height: 300px;
}


#about-home{
  padding: 35px;
}
#about-home .d-flex{
  width: 87px;
}
#about-home h2{
  font-size: 32px
}
#about-home h4{
  font-size: 32px;
}
#about-home h5{
  font-size: 16px;
}
.home_section_ser {
  padding: 35px;

}
.home_section_ser h2{
  margin-top: 20px;
 }
#doc-home{
  padding: 35px 0%;
}
#doc-home h2{
  font-size: 32px;
}
#doc-home img{
  margin-top: 15px;
}
#doc-home p{
  padding: 15px 35px;
}
#doc-home a{
  font-size: 18px;
}
#home-vid-sec{
  text-align: center;
}
#home-vid-sec h2{
  text-align: center;
}
#ser-home {
  padding: 35px 0%;
}
#ser-home h2{
  font-size: 32px;
}
#ser-home .ser-dec{
  margin-bottom: 15px;
}
.ser-btm{
  padding-top: 30px; 
}
#res-sec{
  padding: 35px;
}
#cal-action .box h2{
  font-size: 32px;
}
#cal-action .box .feature-search{
  width: 100%;
  padding-left: 10px!important;
  margin-bottom: 15px;
  box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.35);
}
#cal-action .box .feature_search_button{
  width: 100%;
}
#footer{
  padding: 35px;
}
 
.footer-links {
  padding-top: 35px;
}
.footer-info{
  padding-top: 60px;
} 
#about-top-head{
  padding: 35px !important;
}
#about-top-head h2{
  font-size: 30px !important;
}
#footer .fa, .fas{
  padding-right: 10px;
}
#traning-about{
  padding: 35px 0px !important;
}
#traning-about .block-section{
  padding: 0px ;
}
#traning-about .block-section p{
  padding-bottom: 35px ;
}
#traning-about .block-section h4{
  font-size: 32px ;
}
.faculty-detail{
  padding: 35px ;
  padding-bottom: 0px;
}
.faculty-detail h2{
  font-size: 31px;
}
.block-section p{
  margin: 0px !important;
}
#contact-form .box{
  padding: 35px ;
}
#contact-form .box .form-info{
  margin: 0px;
}
#reg-now{
  padding: 35px;
}
#reg-now .vein-crs{
  margin: 0%;
  margin-top: 30px; 
}
#reg-now .wound-crs{
  margin: 0%;
  margin-top: 30px; 
}
#reg-now .bus-crs{
  margin: 0%;
  margin-top: 30px; 
}
#reg-now .bus-crs h2{
  font-size: 26px;
}
#services-top-head{
  padding: 35px !important;
  
}
#services-top-head h2{
  font-size: 29px;
  margin-bottom: 0;
}

#services{
  padding: 35px !important;
}
#services h2{
  font-size: 29px !important; 
}
#services .Vein-Ser{
  width: 100% !important;
  margin-bottom: 30px;
  padding: 30px !important;
}
#services .wound-Ser{
  width: 100% !important;
  margin-bottom: 30px;
  padding: 30px!important;
}
#services .bus-Ser{
  width: 100% !important;
   padding: 30px!important;
}
#gray-cour{
  padding: 35px !important;
}
#gray-cour h2{
  font-size: 35px !important; 
}
.cour-head {
  margin-bottom: 30px!important; 
}
#cour-white{
  padding: 35px !important;
}
#cour-white .pad-top{
  padding-top: 0px !important;
}
#wound-cour{
  padding: 35px !important;
}
#wound-cour h2{
  font-size: 35px !important; 
}
#bus-cour{
  padding: 35px !important;
}
#bus-cour h2{
  font-size: 35px !important; 
}
#Serd-top-head{
  padding: 35px !important;
}
#Serd-top-head h2{
  font-size: 35px !important; 
}
#serd-about{
  padding: 35px !important;
}
#ser-det .serd-detail{
  padding: 35px !important;
}
#ser-det .serd-detail h2{
  font-size: 30px !important; 
}
#contact-form{
  padding: 35px  10px!important;
}
#contact-form .box{
  padding: 35px !important;
  }
.form-info h2{
  font-size: 35px !important; 
}
.form-info{
  margin-bottom: 30px !important;
  padding: 18px !important;
}
.form-info a{
  padding-right: 9px;
  font-size: 13px;
}
#contact-form .box h3{
  font-size: 35px !important; 

}












#whats-unique{
  padding-top: 0px !important;
  padding-bottom: 60px;
}
.cl-to-action-footer .cl-align{
  margin: 0px 10% !important;
  max-width: 100% !important;
  padding: 60px 0px !important;
}
.cl-to-action-footer h3{
  font-size: 30px !important;

font-weight: 700 !important;

font-family: 'Libre Baskerville',Georgia,"Times New Roman",serif !important;
}
#blog-detail{
  padding: 30px !important;
}
#blog-detail .box{
  margin: 30px 0px;
}
.side-form{
  margin: 30px 0px;
}
#blog-detail .box h2{
  font-size: 26px !important;

font-family: 'Libre Baskerville',Georgia,"Times New Roman",serif !important;
}
#top-blog-bar{
  padding: 5% 5%;
}
#top-blog-bar .navigation-category{
  margin: 15px 0px;
}
#blogs{
  padding: 30px !important;
}
#blogs .blog-post{
  margin: 20px 0px;
}
.contact-info h5{
  margin-top: 15px;
}
 
.app-top .top-app-head{
  margin: 25px 7%;
}
#faq #faq-list a.collapsed{
  line-height: 1.7rem;
}
}
/*--------------------------------------------------------------
# appointment page
--------------------------------------------------------------*/
.app-top {
  padding: 60px 0;
  background-position: top center;
  background-image: url(../img/slider/slider-psy-3.jpg);
}
.app-top h3 {
  font-family: 'Lato',Helvetica,Arial,Lucida,sans-serif;
  font-size: 22px;
  color: #fff;
}
.app-top p {
  font-family: 'Lato',Helvetica,Arial,Lucida,sans-serif;
  font-size: 15px;
  color: #fff;
  margin-bottom: 0px;
}
.top-app-head{
  background-color: rgba(120,51,132,0.85);
  padding: 25px;
  text-align: center;
  width: 318px;
}
.app-top .top-app-head {
  margin: 25px 10%;
}
.cl-to-action-footer {
  background-image: url(../img/sliderbg.png),linear-gradient(100deg,#7f67f7 0%,#4200dd 100%)!important;
}
.cl-to-action-footer .cl-align {
  max-width: 50%;
  text-align: center;
  margin: 0px 22%;
  padding: 60px;
}
.cl-to-action-footer h3 {
  font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 1.4em;
  color: #fff;
}
.cl-to-action-footer p {
  color: #fff;
  font-size: 18px;
  padding-bottom: 15px;
}
.cl-to-action-footer .cl-btn {
  color: #2a2a2a;
  background: #ffffff;
  border: 12px solid #fff;
  letter-spacing: 2px;
  font-size: 12px;
  font-family: 'Lato',Helvetica,Arial,Lucida,sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0.7em .5em;
  border-radius: 5px;
}
/*--------------------------------------------------------------
# Contact  page
--------------------------------------------------------------*/

#contact-map-sec .map-container iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
#contact-form{
  background-color: #f4f4f4;   
  padding: 60px;
}
#contact-form .box{
  background-color: #fff;
  padding: 60px;
  border-radius: 5px;
  box-shadow: 0px 12px 18px -6px rgba(0,0,0,0.3);
  overflow: visible;
}
#contact-form .box h3{
  font-weight: 700;
    text-transform: uppercase;
    font-size: 49px;
    color: #636363;
    padding-bottom: 15px;
    text-align: left;
    font-family: 'Raleway',Helvetica,Arial,Lucida,sans-serif;
}
#contact-form .box .form-control{
  width: 100%;
  padding: 16px;
  border-width: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  color: #999;
  background-color: #eee;
  font-size: 14px;
  -webkit-appearance: none;
}
.contact-btn{
  color: #ffffff ;
  background: #772C84 ;
  letter-spacing: 1px;
  font-size: 16px;
  font-family: 'Raleway',Helvetica,Arial,Lucida,sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  background-color: #772C84;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
}
#contacct-form .form-info{
  background-color: #772C84;
}
.form-info{
  background-color: #772C84;
  padding: 30px;
  margin-left: -80px;
  margin-right: 80px;
  box-shadow: 0px 5px 15px #C5C5C5;
  color: #fff;
  
}
.form-info h2{
  font-weight: 700;
  text-transform: uppercase;
  font-size: 49px;
  margin-bottom: 5.82%;

}
.form-info a{
  color: #ffffff;
  padding-right: 15px;
}
.contact-icon{
  margin-bottom: 5.82%;
}
.contact-info  .contact-icon a{
  font-family: 'Lato',Helvetica,Arial,Lucida,sans-serif;
  font-weight: 500;
  margin: 0 0 20px 0;
  padding: 0;
  font-size: 15px;
  color: #ffffff;
  margin-top: 21px;
  text-align: left;
}

.contact-info a {
  font-family: 'Quicksand',Helvetica,Arial,Lucida,sans-serif;
  font-weight: 500;
  padding: 0;
  font-size: 18px;
  color: white;

  text-align: left;

}
.fa-map-marker-alt:before {
  content: "\f2d2";
  color: #772C84;
  background-color: #ffffff;
  font-size: 18px;
  border-radius: 100%;
  padding: 8px;
  font-size: 16px;
  display: table-cell;
  -webkit-border-radius: 100%;
  line-height: 1;
  max-width: 100%;
  height: 100%;
  float: left;
  margin-right: 4%;
}
.fa-phone:before{
  content: "\f2d2";
  color: #772C84;
  background-color: #ffffff;
  font-size: 18px;
  border-radius: 100%;
  padding: 8px;
  font-size: 16px;
  display: table-cell;
  -webkit-border-radius: 100%;
  line-height: 1;
  max-width: 100%;
  height: 100%;
  float: left;
  margin-right: 4%;
}
.fa-envelope:before{
  content: "\f2d2";
  color: #772C84;
  background-color: #ffffff;
  font-size: 18px;
  border-radius: 100%;
  padding: 8px;
  font-size: 16px;
  display: table-cell;
  -webkit-border-radius: 100%;
  line-height: 1;
  max-width: 100%;
  height: 100%;
  float: left;
  margin-right: 4%;
}
.fa-link:before{
  content: "\f2d2";
  color: #772C84;
  background-color: #ffffff;
  font-size: 18px;
  border-radius: 100%;
  padding: 8px;
  font-size: 16px;
  display: table-cell;
  -webkit-border-radius: 100%;
  line-height: 1;
  max-width: 100%;
  height: 100%;
  float: left;
  margin-right: 4%;


}
.contact-icon{
  float: left;
}

/*--------------------------------------------------------------
# Blog page
--------------------------------------------------------------*/

#top-blog-bar{
  background-color: #f7f6f5;
  padding: 2% 5%;
}
#top-blog-bar .navigation-category ul  {
  text-align: center;
}
#top-blog-bar .navigation-category ul li {
  display: inline-block;
}
#top-blog-bar .navigation-category ul li a {
  color: #444;
  font-family: 'Raleway',Helvetica,Arial,Lucida,sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 1px;
  margin-right: 15px;
}
#top-blog-bar .socail-icon {
   text-align: center;
 }
#top-blog-bar .socail-icon .social-links a{
  font-size: 18px;
  display: inline-block;
  background: #1bb1dc;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}
#blogs{
  padding: 60px;
  background: #efeded;
}
#blogs .blog-post img{
    max-width: 100%;
    height: auto;
}
#blogs .blog-post{
position: relative;
    overflow: hidden;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
    transition: all 0.3s ease-in-out;
}
#blogs .blog-post .blog-post-text{
  padding: 30px;
  }
  #blogs .blog-post .blog-post-text a {
    line-height: 1.7em;
    font-family: 'Lato',Helvetica,Arial,Lucida,sans-serif;
    font-size: 18px;
    color: #333;
    font-weight: 600;
}
#blogs .blog-post .blog-post-text p {
  font-size: 15px;
  line-height: 28px;
  }
.side-form{
    padding: 30px;
    position: relative;
    border-radius: 10px;
    background-color: #56456C;
    box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
}
.side-form h4{
  font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    color: #ffffff;
}
.side-form hr {
  border-top-color: #63d2af;
  border-top-width: 3px;
  width: 10%;
  display: inline-block;
  margin-top: 0px;
} 
.top-search-bar{
  padding-left: 15px;
}   
.form-button {
  text-align: center;
}
.form-button button{
  color: #2a93c9!important;
  background: #ffffff;
  border-width: 0px!important;
  letter-spacing: 2px;
  font-size: 12px;
  font-family: 'Lato',Helvetica,Arial,Lucida,sans-serif!important;
  text-transform: uppercase!important;
  padding: 15px 20px;
}



/*--------------------------------------------------------------
# Blog Detail  page
--------------------------------------------------------------*/
#blog-detail{
  background: #efeded;
  padding: 60px;
  text-align: left;
}
#blog-detail .box {
  padding: 30px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
  transition: all 0.3s ease-in-out;
}
#blog-detail h5 {
  font-weight: 400;
  margin-bottom: 6px;
  font-family: 'Libre Baskerville',Georgia,"Times New Roman",serif;
  text-align: left;
  font-size: 26px; 
  margin-top: 15px;
}

#blog-detail h4 {
  font-weight: 700;
  margin-bottom: 6px;
  font-family: 'Libre Baskerville',Georgia,"Times New Roman",serif;
  font-size: 30px; 
  text-align: left;
}
#blog-detail hr {
  border-top-color: #63d2af;
  border-top-width: 3px;
  width: 10%;
  display: inline-block;
  margin-top: 0px;
}
#blog-detail p {
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 0;
  text-align: left;
  padding-top: 10px;
}
#blog-detail img {
  width: 100%;
}
/*--------------------------------------------------------------
# about page
--------------------------------------------------------------*/
#about-top-head{
  background-image: url(../img/bg/HERO-ONE-1.jpg);
  padding: 60px 0px;
}
#about-top-head h2{
  font-family: 'Raleway',Helvetica,Arial,Lucida,sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 72px;
    letter-spacing: 3px;
    color: #ffffff;
}
#traning-about{
  background-image: url(../img/bg/bg-slider12.png);
  padding: 60px 0;
  text-align: center;
}
.block-section{
  padding: 30px;
    position: relative;
    overflow: hidden;
    width: 80%;
    margin: 0 10%;
   transition: all 0.3s ease-in-out; 
}
.block-section h4{
  font-family: 'Raleway',Helvetica,Arial,Lucida,sans-serif;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
}
.block-section p{
  font-size: 14px;
    line-height: 28px;
    margin-bottom: 0;
    margin: 0px 10%;
    text-align: center;
}
.block-section hr{
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left,#f0f0f0,#8c8b8b,#f0f0f0);
}
.faculty-detail{
  text-align: left;
}

.faculty-about img{
  padding-bottom: 5%;
  width: 100%;

}
 /*--------------------------------------------------------------
# Service page
--------------------------------------------------------------*/
#services-top-head{
  background-image: url(../img/bg/HERO-ONE-1.jpg);
  padding: 60px 0px;
}
#services-top-head h2{
  font-family: 'Raleway',Helvetica,Arial,Lucida,sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 40px;
    letter-spacing: 3px;
    color: #ffffff;
}
#services{
  padding: 60px;
  text-align: center;
  color: #ffffff;
}
#services h2 {
  font-family: 'Raleway',Helvetica,Arial,Lucida,sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 40px;
}
#services h5 {
  font-family: 'lato',Helvetica,Arial,Lucida,sans-serif;
  font-size: 18px;
}
#services p {
  font-family: 'lato',Helvetica,Arial,Lucida,sans-serif;
  font-size: 16px;
}
#services .Vein-Ser{
background-color: rgba(69,170,255,0.86);
padding: 40px;
width: 90%;
}
#services .Vein-Ser a {
  font-weight: 600 ;
  background-color: rgba(119,44,132,0.79);
  color: #ffffff;
  padding: 10px 15px;
}

#services .wound-Ser{
  background-color: rgba(119,44,132,0.95);
  padding: 40px;
  width: 90%;
  }
#services .wound-Ser a {
    font-weight: 600 ;
    background-color: #fbc02d;
    color: #ffffff;
    padding: 10px 15px;
}
#services .bus-Ser{
    background-color: rgba(183,183,183,0.89);
    padding: 40px;
    width: 90%;
}
#services .bus-Ser a {
      font-weight: 600 ;
      background-color: #449D44;
      color: #ffffff;
      padding: 10px 15px;
}
#gray-cour{
  background-color: #f4f4f4;
  padding: 60px;
}
#gray-cour h2{
  font-family: 'Raleway',Helvetica,Arial,Lucida,sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 40px;
  color: #000000;
  text-align: center;
}
#gray-cour .Cour-head h3{
  font-family: 'Raleway',Helvetica,Arial,Lucida,sans-serif;
  font-size: 30px;
}
#gray-cour .Cour-head p{
  font-family: 'lato',Helvetica,Arial,Lucida,sans-serif;
  font-size: 14px;
}
.cour-btn{
   font-weight: 600;
  background-color: rgba(119,44,132,0.79);
  font-family: 'lato',Helvetica,Arial,Lucida,sans-serif;
  color: #ffffff;
  font-size: 14px;
  padding: 15px;
  border-radius: 5px;
  text-transform: uppercase;
}
#cour-white{
  padding: 60px;
}
.pad-top{
  padding-top: 60px;
}

#wound-cour{
  background-color: #f4f4f4;
  padding: 60px;
}
#wound-cour h2{
  font-family: 'Raleway',Helvetica,Arial,Lucida,sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 40px;
  color: #000000;
  text-align: center;
}
#wound-cour .Cour-head h3{
  font-family: 'Raleway',Helvetica,Arial,Lucida,sans-serif;
  font-size: 30px;
}
#wound-cour .Cour-head p{
  font-family: 'lato',Helvetica,Arial,Lucida,sans-serif;
  font-size: 14px;
}
.cour-btn-y{
  font-weight: 600;
  background-color: #fbc02d;
  font-family: 'lato',Helvetica,Arial,Lucida,sans-serif;
  color: #ffffff;
  font-size: 14px;
  padding: 15px;
  border-radius: 5px;
  text-transform: uppercase;
}
#bus-cour{
  background-color: #f4f4f4;
  padding: 60px;
}
#bus-cour h2{
  font-family: 'Raleway',Helvetica,Arial,Lucida,sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 40px;
  color: #000000;
  text-align: center;
}
#bus-cour .Cour-head h3{
  font-family: 'Raleway',Helvetica,Arial,Lucida,sans-serif;
  font-size: 30px;
}
#bus-cour .Cour-head p{
  font-family: 'lato',Helvetica,Arial,Lucida,sans-serif;
  font-size: 14px;
}
.cour-btn-g{
  font-weight: 600;
  background-color: #449D44;
  font-family: 'lato',Helvetica,Arial,Lucida,sans-serif;
  color: #ffffff;
  font-size: 14px;
  padding: 15px;
  border-radius: 5px;
  text-transform: uppercase;
}
/*--------------------------------------------------------------
# Services Detail page
--------------------------------------------------------------*/
#Serd-top-head{
  padding: 60px 0;
  text-align: center;
  background-image: url(../img/bg/Course-Banner-7.jpg);
  color: #fff;
}
#Serd-top-head h2{
  font-family: 'Raleway',Helvetica,Arial,Lucida,sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.3em;
  text-align: center;
}
#serd-about{
  background-color: #EFEFEF;
  padding: 2.855% 0;
}
#serd-about h4{
  font-family: 'Raleway',Helvetica,Arial,Lucida,sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 16px;
 }
#serd-about .cour-other {
  border: 1px solid black;
  padding: 25px 15px;
  text-align: center;
}
#serd-about .cour-other a{
  color: #000000 !important;
  border: 1px solid black;
  font-size: 14px;
  padding: 6px 12px;
}
.serd-register{
  padding-top: 30px;
  text-align: center;
}
.serd-register a{
  border-width: 0px;
  font-weight: 600;
  text-transform: uppercase;
  background-color: rgba(119,44,132,0.79);
  padding: 10px 15px;
  color: #fff;
  display: inline-block;
  margin-top: 10px;
}

.serd-form{
  background-color: #f9f9f9;
    padding: 60px 30px;
}
#ser-det .serd-detail{
 padding:  60px 40px 60px 100px;
}
#ser-det .serd-detail hr{
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left,#8c8b8b,#8c8b8b,#f0f0f0); 
}
/*--------------------------------------------------------------
# Blog Detail page
--------------------------------------------------------------*/
.team-dtl-2{
  margin-top: 2%;
}
#blog-detail .box .team-dtl h5{
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  color: #444444;
  line-height: 29px;

}
#blog-detail .team-dtl-img img{
  border-radius: 10px;
  overflow: hidden;
  width: 82%;
  border: 9px solid #fff;
  box-shadow: -1px 2px 18px 3px rgba(0,0,0,0.3);
}
#blog-detail .box-4 img {
  float: left;
  margin-right: 2%;
  width: 26px;
}
#blog-detail .box-4 {
  padding: 15px;
  margin-top: 3%;
  margin-bottom: 3%;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
  transition: all 0.3s ease-in-out;
}
#blog-detail .box-4 a {
  color: #333333;
  font-size: 17px;
  font-family: 'Lato',Helvetica,Arial,Lucida,sans-serif;
}
.custom-select {
  height: 100%;
  Padding: 15PX;
  background-color: rgba(30,36,40,0.2);
  color: #fff;
}
/*--------------------------------------------------------------
# faq page
--------------------------------------------------------------*/
#faq{
  background: #efeded;
  padding: 60px 0;
  text-align: center;
}
#faq .side-hr hr {
  border: 5px solid #000;
    width: 100%;
}
#faq h2{
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
  text-align: left;
}
#faq #faq-list li .hr-faqs:last-child {
  margin-top: 20px;
}
#faq #faq-list {
padding: 0;
list-style: none;
text-align: left;
}

#faq #faq-list li {
border-bottom: 1px solid #ebebeb;
}

#faq #faq-list a {
padding: 20px 10px 0 0;
display: block;
position: relative;
font-family: "Montserrat", sans-serif;
font-size: 20px;
line-height: 1;
font-weight: 400;
 
margin-top : 1px !important;

border-radius: 15px 15px 0px 0px;
}

#faq #faq-list i {
font-size: 24px;
position: absolute;
right: 25px;
top: 20px;

}

#faq #faq-list p {
margin-bottom: 20px;
}

#faq #faq-list a.collapse {
color: #1bb1dc;
}

#faq #faq-list a.collapsed {
  color: #000;
  background: transparent;
}
#faq #faq-list a.collapsed i::before {
content: "\f2c7" !important;
}
#faq #faq-list li a {
  background: #fff;
  color: #000;
  margin: 0 !important;
  padding: 20px;
}
#faq #faq-list li div.show {
  background: #fff;
  border-radius: 0px 0px 15px 15px;
}
#faq #faq-list li div{
  padding: 20px;
}
#faq .collapse.show li{background-color : #FFF!important}

#faq .hr-faqs{
  border: 2px solid black !important;

}
#faq li{
  margin-bottom:1.5rem ;
}
