﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
    @{ 
        var background = Model.Value<IPublishedContent>("backgroundImage").Url;
    }
<section id="ser-home" style="background-image: url(@background);">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="ser-home-head">
                    @Html.Raw(@Model.Value("coursesText"))
                </div>
            </div>
            @foreach(var item in Model.Value<List<IPublishedContent>>("courses"))
            {
                <div class="col-md-4 ">
                    <div class="ser-f" style="background-color: @("#"+item.Value("backgroundColor"))">
                        <div class="ser-image">
                            <h3>@item.Name  </h3>
                            <p>@item.Value("title")  </p>
                        </div>
                        <div class="ser-dec">
                            @Html.Raw(item.Value("shortDetail"))
                            <a href="@item.Url" style="background-color: @("#"+item.Value("buttonBackground"))">Courses</a>
                        </div>
                    </div>
                </div>

            }
            

        
            <div class="col-md-12">
                <div class="ser-btm">
                    <p>(*Many of our courses count towards CME but not all of them, please see website or ask for details).</p>
                </div>
            </div>

        </div>



    </div>
</section>