﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
<section id="doc-home">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2>@Model.Value("facultyHeading")</h2>
                <h5>@Model.Value("facultyTitle")</h5>
                @if (Model.HasValue("facultyImage"))
                {
                    var facultyImage = Model.Value<IPublishedContent>("facultyImage").Url;
                    <img class="rounded-circle" src="@facultyImage" alt="Muzzamal Habib">
                }

                @Html.Raw(@Model.Value("facultyContent"))
                @if (Model.HasValue("facultyLink"))
                {
                    var link = Model.Value<IPublishedContent>("facultyLink").Url;
                    <a href="@link">KNOW MORE</a>
                }
                </div>

        </div>
    </div>
</section>