﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
    @{ 
        var images = Model.Value<List<IPublishedContent>>("logos");
        var t = images.Count();
        var total = (int)Math.Ceiling(Decimal.Divide(t, 2));
    }
<section id="res-sec">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <img class="rounded-circle" src="img/home/dd.png" alt="">

                @Html.Raw(Model.Value("resourcesContent")) 
                
            </div>
            <div class="col-lg-6 res-sec-img">
                <div class="row">
                    @for (int i = 0; i < total; i++)
                    {
                    <div class="col-6">
                        @foreach (var item in images.Skip(i * 2).Take(2))
                        {
                            var image = item.Url;
                            <img src="@image" alt="">
                        }
                        </div>
                    }
                        
                    </div>

            </div>

        </div>
    </div>

</section>