﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
    @{ 
        var i = 0;
    }
<div id="demo" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        @foreach (var item in Model.Value<List<IPublishedElement>>("slider"))
        {
            var img = item.Value<IPublishedContent>("image").Url;
            <div class="carousel-item @(i==0 ? "active":"")">
                <img src="@img" alt="Los Angeles">
                <div class="carousel-caption">
                    <h3>@item.Value("heading") </h3>
                    <p>@item.Value("content") </p>
                    <hr>
                </div>
            </div>
            i++;
        }

        <div class="carousel-item">
            <img src="img/slider/slider-psy-3.jpg" alt="Chicago">
            <div class="carousel-caption">
                <h3>Convenient Location </h3>
                <p>Boston, MA </p>
                <hr>
            </div>
        </div>

        <div class="carousel-item">
            <img src="img/slider/slider-psy-1.jpg" alt="New York">
            <div class="carousel-caption">
                <h3>QUALITY </h3>
                <p>Highly Certified Faculty </p>
                <hr>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
</div>