﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
    @{ var i = 0;}
<section id="slider-before-section">
    <div class="container">
        <div class="row">
            @foreach (var item in Model.Value<List<IPublishedElement>>("boxes"))
            {
                var icon = item.Value<IPublishedContent>("icon").Url;
                var link = item.Value<IPublishedContent>("link").Url;
                <div class=" col-md-4  bg-home-ser@(i%2==0?"":"-mid")">
                    <div class="home_section_ser">
                        <img src="@icon" alt="@item.Value("title")">
                        <h2>@item.Value("title") </h2>
                        <p>@item.Value("text")</p>
                        <span>
                            <a href="@link"> Read </a>
                        </span>
                    </div>
                </div>
                i++;
            }
                @*<div class=" col-md-4 bg-home-ser-mid">
                    <div class="home_section_ser">
                        <img src="img/icon/MANAGEMET_w-1.png" alt="Our Course">
                        <h2>About Us</h2>
                        <p>Get to know our Speakers</p>
                        <span>
                            <a href="#"> Read </a>

                        </span>
                    </div>
                </div>
                <div class="col-md-4 bg-home-ser">
                    <div class="home_section_ser">
                        <img src="img/icon/COMMENT_w-1.png" alt="Our Course">
                        <h2>Register Online </h2>

                        <p>Call us or fill in a form</p>
                        <span>
                            <a href="#"> Read </a>

                        </span>
                    </div>
                </div>*@
            </div>
    </div>
</section>