﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
<section id="about-home">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h2>@Model.Value("welcomeHeading")</h2>
            </div>

            <div class="col-md-8 about-res">
                <div class="Welcome-home">
                    @Html.Raw(@Model.Value("welcomeText")) 
                    <div>
                        <div class="media">
                            @if (Model.HasValue("organizerImage"))
                            {
                                var img = Model.Value<IPublishedContent>("organizerImage").Url;
                                <img class="d-flex align-self-center rounded-circle" src="@img" alt="@Model.Value("organizer")">
                            }

                            <div class="media-body">
                                <h5>@Model.Value("organizer") </h5>
                                <p><i>Course Organizer</i></p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 home-about-sec-2">
                <div class="row">
                    <div>
                        <h5>2 DAY ENDOVENOUS ABLATION COURSE</h5>

                        <h5> DATEN </h5>
                        <h3>June 21–22, 2018</h3>
                        <p>(Thursday to Friday)</p>
                        <h5>VENUE</h5>
                        <h3>Vein &amp; Wound Training Inst</h3>
                        <p>978 Worcester St, #2</p>
                        <p>Wellesley, MA 02482</p>
                        <h5>HANDS-ON VEIN TRAINING</h5>
                        <p>
                            A balanced blend of didactic and hands-on training for course attendees in the real clinical environment.
                        </p>
                    </div>
                </div>


            </div>
        </div>
    </div>
</section>